@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes away {
    from {
        opacity: 1;
        transform: translate(0,0);
    }
    to {
        opacity: 0;
        transform: translate(0,0);
    }
}

@keyframes closeMainNav {
    from {
        opacity: 1;
        transform: translate(0,0);
        height: 100vh;
        position: absolute;
    }
    to {
        opacity: 0;
        transform: translate(0,0);
        height: 0;
        position: initial;
    }
}

@keyframes come {
    from {
        width: 40vw;
        transform: translate(-5em, -15em) scale(.75);
        filter: blur(7px);
        opacity: 0.5;
    }
    to {
        opacity: 1;
        width: 100vw;
        filter: blur(0px);
    }
}

@keyframes base {
    from {
        width: 40vw;
        transform: translate(-5em, -15em) scale(.75);
        filter: blur(7px);
        opacity: 0.5;
        visibility: hidden;
    }
    to {
        opacity: 0;
        width: 40vw;
        transform: translate(-5em, -15em) scale(.75);
        filter: blur(7px);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slidein {
    from {
        opacity: 1;
        width: 100vw;
        filter: blur(0px);
    }
    to {
        width: 40vw;
        transform: translate(-5em, -15em) scale(.75);
        filter: blur(7px);
        opacity: 0.5;
    }
}

@keyframes slideinFade {
    from {
        opacity: 1;
        width: 100vw;
        filter: blur(0px);
    }
    to {
        width: 40vw;
        transform: translate(-5em, -15em) scale(.75);
        filter: blur(7px);
        opacity: 0;
    }
}

@keyframes slideright {
    from {
        transform: translate(0, 0);
        opacity:1;
        
    }
    to {
        transform: translate(20vw, 0);
        opacity:0;
    }
}



@keyframes slideBackLeft {
    from {
        transform: translate(10vw, 0);
        opacity:0;

    }
    to {
        transform: translate(0vw, 0);
        opacity:1;

    }
}

@keyframes slideleft {
    from {
        transform: translate(0, 0);
        opacity:1;
    }
    to {
        transform: translate(-46.5vw, 0);
        opacity:1;
    }
}

@keyframes slideBackRight {
    from {
        transform: translate(-46.5vw, 0);
        opacity:1;
    }
    to {
        transform: translate(0vw, 0);
        opacity:1;
    }
}


@keyframes slideout {
    from {
        transform: translate(0, 0);
        opacity:1;
    }
    to {
        transform: translate(0, -110vh);
        opacity:1;
    }
}

@keyframes slidebelow {
    from {
        transform: translate(0, 0);
        opacity:1;
    }
    to {
        transform: translate(0, 110vh);
        opacity:1;
    }
}

@keyframes slidedown {
    from {
        transform: translate(0, 0vh);
        opacity:1;
    }
    to {
        transform: translate(0, 110vh);
        opacity:1;
    }
}

@keyframes slidebackdown {
    from {
        transform: translate(0, -110vh);
        opacity:1;
    }
    to {
        transform: translate(0, 0vh);
        opacity:1;
    }
}

@keyframes slidebackup {
    from {
        transform: translate(0, 110vh);
        opacity:1;
    }
    to {
        transform: translate(0, 0vh);
        opacity:1;
    }
}


@keyframes slideinrow {
    from {
        opacity: 0;
        filter: blur(20px);
        width: 100vw;
        margin-left: -47vw;
    }
    to {
        opacity: 1;
        margin-left: -53vw;
        width: 55vw;
        filter: blur(0px);

    }
}



.twodelay {
    opacity: 1;
    animation: delayedSlide ease-in 0s;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 0s;
}


.below {
    width: 40vw;
    transform: translate(-5em, -15em) scale(.75);
    filter: blur(7px);
    opacity: 0.5;
}

.away {
    opacity: 1;
    /* make things invisible upon start */
    animation: away ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.closeNav {
    opacity: 0;
    /* make things invisible upon start */
    animation: closeMainNav ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.base {
    opacity: 0;
    width: 40vw;
    transform: translate(-5em, -15em) scale(.75);
    filter: blur(7px);
    opacity: 0.5;
    width: 40vw !important;

    animation: base ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.base-hero {
    visibility: hidden;
    opacity: 0;
    width: 40vw;
    transform: translate(-5em, -15em) scale(.75);
    filter: blur(7px);
    opacity: 0.5;
    width: 40vw !important;
}

.come {
    opacity: 1;
    /* make things invisible upon start */
    animation: come ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.gone {
    visibility: hidden;
}

.none {
    display: none !important;
    height: 0;
    transition: scale(0);
    width: 0;
    opacity: 0;
}

.row-base {
    opacity: 1;
    margin-left: -50vw;
    width: 50vw;
    filter: blur(0px);
    margin-top: 0;
    z-index: -1;
}

.hero-base {
    width: 40vw !important;
    transform: translate(-5em, -15em) scale(.75);
    filter: blur(7px);
    opacity: 0.5;
}

.headerTransHome {
    
    transition:ease all 1s;
    h1 {
        font-size: 5em;
        line-height: 1em;
        font-weight: 900;
        margin-left: 0.2em;
        margin-top: 0.12em;
        margin-bottom: 0.1em;
        color: #424242;
        width: 4.8em;
    }

    h2 {
        font-size: 2.063em;
        padding: 0.1em 0.3em 0.1em 0.4em;
        background-color: #000000;
        font-weight: 300;
        font-style: normal;
        color: white;
        width: 7em;
        margin-top: 0.25em;
        margin-left: 6.25em;
    }

    p {
        
        font-weight: 100;
        font-size: 2.375em;
        color: rgba(0,0,0,0.57);
        width: 10em;
        margin-left: 5.4em;

    }
    

    .heading {
        transition:ease all 1s;
        h1 {
            color:  #424242!important;
            transition:ease all 1s;
        }

        svg {
            transition:ease all 1s;
            fill:black;
            height: 13.9em !important;
            width: 11.8em;
       }

    }

}


.headerTransWork {
    margin-left: 0vw !important;
    transition:ease all 1s;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    // background-color:#1a1a1a;
    background-image: linear-gradient(to left top, #111111, #141414, #161616, #181818, #1a1a1a);    p {
    transition:ease all 1s;
    }
    h2 {


        transition:ease all 1s;
    }
    

    .heading {
        transition:ease all 1s;
        h1 {

            transition:ease all 2.2s;
        }

        svg {
            transition:ease all 1s;
            fill:rgb(192, 217, 240);
            width: 11.8em;
       }

    }

}




.animPath {
    .leftPath {
        transition: ease all .5s;
        transform-origin:top left;
    }
    .rightPath {
        transition: ease all .5s;
        transform-origin:top right;
    }
}



.colBlack {
    background-color:white;
    flex:1 0 38% !important;
    // transition: ease all .5s;
    // background-color: black;
    // background-size:cover;
    // opacity:.15;
    // // clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    // z-index: -1;
    // flex:1 0 25% !important;
}

.white-bg {
    background-color:white;
}

.colWhite {
    transition: ease all .5s;
    background-color: rgba(255, 255, 255, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    z-index: -1;
}

.slide-in {
    animation: slidein ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}

.slide-out {
    animation: slideout ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}

.slide-below {
    animation: slidebelow ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}



.slide-right {
    animation: slideright ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .8s;
    animation-timing-function:cubic-bezier(0.455, 0.030, 0.515, 0.955);

}


.slide-back-left {
    animation: slideBackLeft ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .8s;
    animation-timing-function:cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.slide-up {
    animation: slideup ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.slide-back-down {
    animation: slidebackdown ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}

.slide-back-up {
    animation: slidebackup ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}

.slide-down {
    animation: slidedown ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}

.slide-left {
    animation: slideleft ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}

.slide-back-right {
    animation: slideBackRight ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .9s;
}


.slide-in-fade {
    animation: slideinFade ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}





.fade-out {
    opacity: 0;
    /* make things invisible upon start */
    animation: fadeOut ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    pointer-events:none;
}

.fade-out-fast {
    opacity: 0;
    /* make things invisible upon start */
    animation: fadeOut ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    pointer-events:none;
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    pointer-events: initial;
}

.fade-in-fast {
    opacity: 0;
    /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

.WorkHero {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color:transparent;
}

.clip-close {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0% 100%);
    border-radius: 0 50% 0 50%;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}


.fade-in.one {
    animation-delay: 1s;
}
.fade-in.two {
    animation-delay: 3s;
}
.fade-in.three {
    animation-delay: 4s;
}
.fade-in.four {
    animation-delay: 5s;
}
.fade-in.five {
    animation-delay: 6s;
}

.background-holder {
    width: 100%;
    .gridlines {
        background-color:rgb(250, 250, 250);
        overflow-x: hidden;
        display: flex;
        pointer-events: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        transition: ease all 1s;
        z-index: -1;
        .gridcol {
            display: flex;
            flex: 0 0 10.07%;
            border-right: solid thin #eeeeee;
        }
    }
}

.whiteTrans {
    pointer-events: none;
    position: absolute;
    width:100vw;
    height:100vh;
    transition: ease all 1s;
    z-index:9999999;
    background-color:white;
    opacity: 0;
}


.whiteTransForm {
    transition: ease all .7s;
    pointer-events: none;
    position: absolute;
    height:100vh;
    width:100vw;
    opacity: 1;
    background-color:white;

}

.contactTrans {
    pointer-events: none;
    position: absolute;
    width:100vw;
    height:100vh;
    right:0;

    transition: ease-out all .7s;
    z-index:9999999;
    background-color:white;
    opacity: 0;
}

.contactTransForm {
    pointer-events: none;
    right:0;
    position: absolute;
    height:100vh;
    width:100vw;
    opacity: 1;
    background-color:white;
}


.homeHeader {
    height:100vh;
    width:100vw;
    position:absolute;
    background-color:white;
    z-index:999999;
    transition:ease all 1.5s;
    right:0;
}

.cWhite {
    background-color:#1a1a1a;
    z-index:1;
    height:100vh;
    width:100vw;
    margin-left:0vw;
}

// mouse scroll

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  .scroll-downs {
    position: absolute;
    bottom: 14vh;
    left: 27vw;
    margin: auto;
    width :34px;
    height: 55px;
    transition:1s ease all;
  }
  .mousey {
    width: .2em;
    padding: 10px 15px;
    height: 2.2em;
    border: 2px solid #fff;
    border-radius: .9em;
    opacity: 0.65;
    box-sizing: content-box;
  }
  .scrollerAnim {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }


$ani-speed: 1.5s;
$ani-delay: 0s;


.arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-90deg) translate(-.5em, 2.5em) scale(.5);
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 50%;
        left:45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}


.workHeading {
    transition:1.5s ease all;
}

.expHeading {
    transition:1.5s ease all;
}

.skillHeading {
    transition:1.5s ease all;
}

form {
    transition:1.5s ease all;
}

.webWork {

    transition:1.5s ease all;
}

blurb {
    transition:1.5s ease all;
}

.hSlide {
    transform:translate(0,1em);
    transition:1.5s ease all;
}

.tFade {
    opacity:0;
    transition:1.5s ease all;
}



.scroll-lock {
    pointer-events:none;
}

.Tilt {
    cursor: pointer;
}
.moveLeft {
    transform: translate(-16.5vw,0) scale(.8);

}
