@keyframes stageContentAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.stageF-out {
    h1 {
        transform: translate(0, 5em);
        transition:ease all .2s

    }
    opacity:0;
    transition:ease all .2s
}

.stageF-in {
    opacity:1;
    transition:ease all .2s
}

.stageOne {
    background-image: url("assets/mj-bg.jpg");
        .heading  {
            border-bottom:1px solid #7bcee6 !important;
            transition:ease all 1.5s;
            h1::before {
                color: #7bcee6 !important;
                content: "Mitchells Joinery";
            }
        }
        .description  {

            p::before {
                display: block;
                white-space: pre-wrap;
                content:"The team over at Mitchell's Joinery required a new brand design along with a website upgrade to a more modern and intuitive UX design. Mitchell's Joinery main focus was on the marine industry. \A \A The new logo and website required a more premium design along with a more logical catagory / navigation hirechy.";
            }
        
        }
        .workDone  {

            h2::before {
                display: block;
                white-space: pre-wrap;
                content:"Research\A Logo Design\A Site Development"
        }
    }
}



.stageTwo {
    background-image: url("assets/tensq-bg.jpg");
    .heading  {
        border-bottom:1px solid rgb(223, 113, 62) !important;
        transition:ease all 1.5s;
        h1::before {
            color: rgb(223, 113, 62) !important;
            content: "10 Squares Cabins";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"10 Squares Cabins is a new manufacturer of small cabins & sleep-outs that fit within the 10m² council requirements. They required a brand-id along with a website showcasing the quality and process that goes into building their kitset cabins. \A \A I worked closely with the 10 Squares team to create a clean & informative website. Using renders I was able to show the customer the build process from start to finish. I continued work for them doing drafting & render work for customers who needed custom builds.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Logo Design\A Rendering \A Site Development"
        }
    }

}

.stageThree {
    // background-image: url("assets/gubba-bg.jpg");
    .heading  {
        border-bottom:1px solid #a68b3c !important;
        transition:ease all 1.5s;
        h1::before {
            color: #a68b3c !important;
            content: "Shop Web App";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"I developed this web app for my module 3 assignment at Yoobee Design School.\A \A We were required to design & develop a web app in React along with a fully functional API & Server.\A The projects development stages involved researching, designing, & user testing.\A \A The app has a full CRUD process from the user being able to register, login, sell, purchase, review, edit account details & edit or delete their products.\A \A Design & prototyping was completed in Sketch.\A The app was coded using the React library."
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Design / Server Setup / App Development"
        }
    }
}

.stageFour {
    background-image: url("assets/ambv-site.jpg");
    .heading  {
        border-bottom:1px solid #b2b4b9 !important;
        transition:ease all 1.5s;
        h1::before {
            color: #9f9fa1 !important;
            content: "Auckland Boat Valet";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"Auckland Marine Boat Valet contacted me about a full site redesign & upgrade. They wanted their site to be clean, simple & easy to navigate, With this in mind I was able to cut the number of pages down in half & categorise the services into their own section. \A \A I modified the wordpress CMS dashboard to suit their needs, making it easier for them going forward to add/edit content.\A \AInitial design & prototypes created in Adobe Xd, front end was done using Wordpress CMS.";
        }
    
    }

    .workDone  {
        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Website"
        }
    }


}


.stageFive {
    background-image: url("assets/mangawhai-bg.jpg");
    .heading  {
        border-bottom:1px solid #e1c20f !important;
        transition:ease all 1.5s;
        h1::before {
            color: #e1c20f !important;
            content: "Mangawhai Market";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"The Mangawhai Village Market needed a logo for their ever growing market. I discussed with them some design concepts & we came up with the idea to include a local bird, the Fairy Tern, which is a distinctive icon that locals will recognize.\A \A I really enjoyed working on this brand, something a bit different.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Logo Design"
        }
    }
}

.stageSix {
    background-image: url("assets/cc-bg.jpg");
    .heading  {
        border-bottom:1px solid #a32128 !important;
        transition:ease all 1.5s;
        h1::before {
            color: #a32128 !important;
            content: "The Cabin Crew";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"The Cabin Crew team required a logo for their newly formed building company. The owner wanted a brand that meant something to him, but also had a contemporary and professional design to reflect the modern dwellings they were building.\A \A I used red & black colours to show his Maori heritage and a wave design to reflect one of his passions in life, surfing. I enjoyed working with him to come up with a design we were both happy with.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Logo Design"
        }
    }
}


.stageSeven {
    background-image: url("assets/aut-bg.jpg");
    .heading  {
        border-bottom:1px solid #bebc21  !important;
        transition:ease all 1.5s;
        h1::before {
            color: #bebc21 !important;
            content: "AUT Poster";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"For this assignment I was required to create a poster advertising Auckland University of Technology’s Diploma in Graphic Communication. \A \A I wanted to design something that really caught the eye, was simple & not too obvious. I feel I achieved this by only using two colours & having the finer details large enough to read but small enough to take a second look.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Poster"
        }
    }
}

.stageEight {
    
}

.stageExp {
    padding-top:1.5em;
    .heading  {
        border-bottom:1px solid #ffffff   !important;
        transition:ease all 1.5s;
        h1::before {
            color: #ffffff  !important;
            content: "Experience";
        }
    }

    .description  {
 
        p::before {
            padding-top:1.5em;
            line-height: 1.7;
            display: block;
            white-space: pre-wrap;
            content:"▪ Yoobee Web & UX Development Lvl 6 / 2019 \A ▪ Graphic & Web Designer Gubba Products Ltd / 2006 - 2018 \A▪ AUT Diploma in Graphic Communication Lvl 5 / 2008 - 2010 \A▪ Production Fabricator Team Leader 2003 - 2006 \A▪ Multimedia & Graphic Design Certificate 2002 - 2003"
        }
    }

    .workDone  {
        
        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Poster"
        }
    }
}


.inapp-m {

}

.inapp-mobile {
    width:100%;
    height:100%;
    font-size: 0.8em;
}

.tablet {
    width: 22vw;
    height: 30vw;
}

.wrap.container {

    font-size: 0.8em;

}

.mj {
    background-image: url("assets/mj-site.jpg");
    height: 105em;
}


.mj-m {
    background-image: url("assets/mj-m-site.jpg");
    height: 170em;
}

.tens {
    background-image: url("assets/10squares-site.jpg");
    height: 350em;
}

.tens-m {
    background-image: url("assets/10squares-site-mobile.jpg");
    height: 235em;
}


.gubba {
    background-image: url("assets/gubba-site.jpg");
}

.py {
    background-image: url("assets/py-site.jpg");
}

.ambv {
    background-image: url("assets/ambv-site.jpg");
    height: 126em;
}

.ambv-m {
    background-image: url("assets/ambv-m-site.jpg");
    height: 169em;
}

.heli {
    background-image: url("assets/helib-site.jpg");
}

.mglogo {
    background-image: url("assets/mangawhai-logo-1.png");
}

.cc {
    background-image: url("assets/the-cabin-crew-bcards.jpg");
}

.autposter {
    background-image: url("assets/aut-poster.jpg");
}

.gcpackage {
    background-image: url("assets/goodcoffee.jpg");
}

.renders {
    background-image: url("assets/13renders.jpg");
}