@keyframes stageContentAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.stageF-out {
    h1 {
        transform: translate(0, 5em);
        transition:ease all .2s

    }
    opacity:0;
    transition:ease all .6s;
}

.stageF-in {
    opacity:1;
    transition:ease all 2s;
}

.overflow {
    overflow: visible !important;
}

.workDone::after {
        
    margin-left: 2.7em;

}


.row1 {
    .stageOne.stageBanner {
        height: 60vh;
        position: absolute;
        width: 100vw;
        top: 0;
        z-index:-1;
        background-size:cover;
        background-repeat: no-repeat; 
        transform: scaleX(-1);   
    }
}
.stageOne {

    // background-image: url("assets/mj-bg.jpg");
        .heading  {
            border-bottom:1px solid #7bcfe679 !important;
            transition:ease all 1.5s;
            h1::before {
                color: #7bcee6 !important;
                content: "Mitchells Joinery";
            }
        }
        .description  {

            p::before {
                display: block;
                white-space: pre-wrap;
                content:"The team over at Mitchell's Joinery required a new brand design along with a website upgrade to a more modern and intuitive UX design. Mitchell's Joinery main focus was on the marine industry. \A \A The new logo and website required a more premium design along with a more logical catagory / navigation hirechy.";
            }

        
        }
        .workDone  {

            h2::before {
                display: block;
                white-space: pre-wrap;
                content:"Logo Design / Site Development";
            }

    }
    .workDone::after {
        
        content: url(https://img.icons8.com/color/48/000000/adobe-illustrator.png) url(assets/adobe-xd-48.png) url(https://img.icons8.com/color/48/000000/wordpress.png) url(https://img.icons8.com/color/48/000000/css3.png);
  
    }

}



.stageTwo {
    // background-image: url("assets/tensq-bg.jpg");
    .heading  {
        border-bottom:1px solid rgba(223, 113, 62, 0.493) !important;
        transition:ease all 1.5s;
        h1::before {
            color: #df713e !important;
            content: "10 Squares Cabins";
        }
        
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"10 Squares Cabins is a new manufacturer of small cabins & sleep-outs that fit within the 10m² council requirements. They required a brand-id along with a website showcasing the quality and process that goes into building their kitset cabins. \A \A I worked closely with the 10 Squares team to create a clean & informative website. Using renders I was able to show the customer the build process from start to finish. I continued work for them doing drafting & render work for customers who needed custom builds.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Logo Design / Rendering / Site Development"
        }
        
    }
    .workDone::after {
        
        content: url(https://img.icons8.com/color/48/000000/adobe-illustrator.png) url(https://img.icons8.com/color/48/000000/google-sketchup.png) url(assets/adobe-xd-48.png) url(https://img.icons8.com/color/48/000000/wordpress.png) url(https://img.icons8.com/color/48/000000/css3.png);
  
    }

}

.stageThree {
    // background-image: url("assets/gubba-bg.jpg");
    .heading  {
        border-bottom:1px solid #a68b3c7a !important;
        transition:ease all 1.5s;
        h1::before {
            color: #a68b3c !important;
            content: "Shop Web App";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"I developed this web app for my module 3 assignment at Yoobee Design School. We were required to design & develop a web app in React along with a fully functional API & Server.\A \A The projects development stages involved researching, designing, & user testing. The app has a full CRUD process from the user being able to register, login, sell, purchase, review, edit account details & edit or delete their products.\A \A Design & prototyping was completed in Sketch.\A The app was coded using the React library."
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Design / Server Setup / App Development"
        }
    }
    .workDone::after {
        content: url(https://img.icons8.com/color/48/000000/adobe-illustrator.png) url(https://img.icons8.com/windows/48/000000/sketch.png) url(https://img.icons8.com/color/48/000000/html-5.png)  url(https://img.icons8.com/color/48/000000/css3.png) " " url(assets/node-js-48.png) " " url(https://img.icons8.com/nolan/48/000000/react-native.png)   ;
  
    }
    
}

.stageFour {
    // background-image: url("assets/ambv-site.jpg");
    .heading  {
        border-bottom:1px solid #b2b4b977 !important;
        transition:ease all 1.5s;
        h1::before {
            color: #9f9fa1 !important;
            content: "Auckland Boat Valet";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"Auckland Marine Boat Valet contacted me about a full site redesign & upgrade. They wanted their site to be clean, simple & easy to navigate, With this in mind I was able to cut the number of pages down in half & categorise the services into their own section. \A \A I modified the wordpress CMS dashboard to suit their needs, making it easier for them going forward to add/edit content.\A \AInitial design & prototypes created in Adobe Xd, front end was done using Wordpress CMS.";
        }
    
    }

    .workDone  {
        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Site Development"
        }
    }
    .workDone::after {
        
        content: url(assets/adobe-xd-48.png) url(https://img.icons8.com/color/48/000000/wordpress.png) url(https://img.icons8.com/color/48/000000/css3.png);
  
    }


}


.stageFive {
    // background-image: url("assets/mangawhai-bg.jpg");
    .heading  {
        border-bottom:1px solid #e1c10f7e !important;
        transition:ease all 1.5s;
        h1::before {
            color: #e1c20f !important;
            content: "Mangawhai Market";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"The Mangawhai Village Market needed a logo for their growing market. I discussed with them some design concepts & we came up with the idea to include a local bird, the Fairy Tern, which is a distinctive icon that locals will recognize.\A \A I really enjoyed working on this brand, something a bit different.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Logo Design"
        }
    }
    .workDone::after {
        content: url(https://img.icons8.com/color/48/000000/adobe-illustrator.png) url(https://img.icons8.com/color/48/000000/adobe-indesign.png) ;
  
    }
}

.stageSix {
    // background-image: url("assets/cc-bg.jpg");
    .heading  {
        border-bottom:1px solid #a3212750 !important;
        transition:ease all 1.5s;
        h1::before {
            color: #a32128 !important;
            content: "The Cabin Crew";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"The Cabin Crew team required a logo for their newly formed building company. The owner wanted a brand that meant something to him, but also had a contemporary and professional design to reflect the modern dwellings they were building.\A \A I used red & black colours to show his Maori heritage and a wave design to reflect one of his passions in life, surfing. I enjoyed working with him to come up with a design we were both happy with.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Logo Design"
        }
    }
    .workDone::after {
        content: url(https://img.icons8.com/color/48/000000/adobe-illustrator.png) url(https://img.icons8.com/color/48/000000/adobe-indesign.png) ;
  
    }
}


.stageSeven {
    background-image: url("assets/aut-bg.jpg");
    .heading  {
        border-bottom:1px solid #bebc21  !important;
        transition:ease all 1.5s;
        h1::before {
            color: #bebc21 !important;
            content: "AUT Poster";
        }
    }

    .description  {

        p::before {
            display: block;
            white-space: pre-wrap;
            content:"For this assignment I was required to create a poster advertising Auckland University of Technology’s Diploma in Graphic Communication. \A \A I wanted to design something that really caught the eye, was simple & not too obvious. I feel I achieved this by only using two colours & having the finer details large enough to read but small enough to take a second look.";
        }
    
    }

    .workDone  {

        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Poster"
        }
    }
}

.stageEight {
    
}

.stageExp {
    padding-top:1.5em;
    .heading  {
        border-bottom:1px solid #ffffff2c   !important;
        transition:ease all 1.5s;
        h1::before {
            color: #ffffff  !important;
            content: "Experience";
        }
    }

    .description  {
 
        p::before {
            padding-top:1.5em;
            line-height: 1.7;
            display: block;
            white-space: pre-wrap;
            content:"▪ Yoobee Web & UX Development Lvl 6 / 2019 \A ▪ Graphic & Web Designer Gubba Products Ltd / 2006 - 2018 \A▪ AUT Diploma in Graphic Communication Lvl 5 / 2008 - 2010 \A▪ Production Fabricator Team Leader 2003 - 2006 \A▪ Multimedia & Graphic Design Certificate 2002 - 2003"
        }
    }

    .workDone  {
        
        h2::before {
            display: block;
            white-space: pre-wrap;
            content:"Poster"
        }
    }
}




.stageDisplay {
    position:absolute;
    top: 3vh;
    width: 9em;
    margin-left: -2vw;
    display:flex;
    flex-direction: row;
    border-bottom: thin solid white;
    h3 {
        padding-left:.5em;
        padding-right:.5em;
        font-size:1.4vw;
        padding-bottom:.3em;
        font-weight:300;
        color:#aaaaaa;
        // border-bottom:solid thin #c4c4c4;
    }
}

.stageOne .stageDisplay {
    h3::before {
        color:#aaaaaa;
        content:"1";
    }
    h3::after {
        content:" / 6";
    }
}

.stageTwo .stageDisplay {
    h3::before {
        color: #aaaaaa;
        content:"2";
    }
    h3::after {
        content:" / 6";
    }
}

.stageThree .stageDisplay {
    h3::before {
        color: #aaaaaa;
        content:"3";
    }
    h3::after {
        content:" / 6";
    }
}

.stageFour .stageDisplay {
    h3::before {
        color: #aaaaaa;
        content:"4";
    }
    h3::after {
        content:" / 6";
    }
}

.stageFive .stageDisplay {
    h3::before {
        color: #aaaaaa;
        content:"5";
    }
    h3::after {
        content:" / 6";
    }
}

.stageSix .stageDisplay {
    h3::before {
        color: #aaaaaa;
        content:"6";
    }
    h3::after {
        content:" / 6";
    }
}






.s1Col1 {
    // border-radius:0em .3em 0em 0em;
    background-image: url("assets/institute-mj-1.jpg");
}

.s1Col2 {
    // border-radius:.3em .3em 0em 0em;
    background-image: url("assets/institute-mj-2.jpg");
}

.s1Col3 {
    // border-radius:.3em 0em 0em 0em;
    background-image: url("assets/institute-mj.jpg");
}



.s2Col1 {
    // border-radius:0em .3em 0em 0em;
    background-image: url("assets/institute-10s.jpg");
}

.s2Col2 {
    // border-radius:.3em .3em 0em 0em;
    background-image: url("assets/institute-10s-2.jpg");
}

.s2Col3 {
    // border-radius:.3em 0em 0em 0em;
    background-image: url("assets/institute-10s-3.jpg");
}

.s3Col1 {
    // border-radius:0em .3em 0em 0em;
    background-image: url("assets/institute-ins3.jpg");
}

.s3Col2 {
    // border-radius:.3em .3em 0em 0em;
    background-image: url("assets/institute-ins.jpg");
}

.s3Col3 {
    // border-radius:.3em 0em 0em 0em;
    background-image: url("assets/institute-ins2.jpg");
}

.s4Col1 {
    // border-radius:0em .3em 0em 0em;
    background-image: url("assets/institute-ambv.jpg");
}

.s4Col2 {
    // border-radius:.3em .3em 0em 0em;
    background-image: url("assets/institute-ambv-3.jpg");
}

.s4Col3 {
    // border-radius:.3em 0em 0em 0em;
    background-image: url("assets/institute-ambv-2.jpg");
}


.s5Col1 {
    // border-radius:0em .3em 0em 0em;
    background-image: url("assets/institute-mm.jpg");
}

.s5Col2 {
    // border-radius:.3em .3em 0em 0em;
    background-image: url("assets/institute-mm1.jpg");
}

.s5Col3 {
    // border-radius:.3em 0em 0em 0em;
    background-image: url("assets/institute-mm2.jpg");
}

.s6Col1 {
    // border-radius:0em .3em 0em 0em;
    background-image: url("assets/institute-cc-2.jpg");
}

.s6Col2 {
    // border-radius:.3em .3em 0em 0em;
    background-image: url("assets/institute-cc-1.jpg");
}

.s6Col3 {
    // border-radius:.3em 0em 0em 0em;
    background-image: url("assets/institute-cc-3.jpg");
}



.inapp-m {

}

.inapp-mobile {
    width:100%;
    height:100%;
    font-size: 0.8em;
}

.tablet {
    width: 22vw;
    height: 30vw;
}

.wrap.container {

    font-size: 0.8em;

}

.mj {
    background-image: url("assets/mj-site.jpg");
    height: 105em;
}


.mj-m {
    background-image: url("assets/mj-m-site.jpg");
    height: 170em;
}

.tens {
    background-image: url("assets/10squares-site.jpg");
    height: 350em;
}

.tens-m {
    background-image: url("assets/10squares-site-mobile.jpg");
    height: 235em;
}


.gubba {
    background-image: url("assets/gubba-site.jpg");
}

.py {
    background-image: url("assets/py-site.jpg");
}

.ambv {
    background-image: url("assets/ambv-site.jpg");
    height: 126em;
}

.ambv-m {
    background-image: url("assets/ambv-m-site.jpg");
    height: 169em;
}

.heli {
    background-image: url("assets/helib-site.jpg");
}

.mglogo {
    background-image: url("assets/mangawhai-logo-1.png");
}

.cc {
    background-image: url("assets/cc-logo-bcard.png");
}

.autposter {
    background-image: url("assets/aut-poster.jpg");
}

.gcpackage {
    background-image: url("assets/goodcoffee.jpg");
}

.renders {
    background-image: url("assets/13renders.jpg");
}