.aboutMe {
    margin-left: 1.4em;
    line-height: 1.8;
    width: 36vw;
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 300;
    background-color:#191919;
    z-index: 99;
}

.pSec {
    width: 65vw;
    .eRow2 {
        width: 65vw;
    }
}

.hScroller {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    display:flex;
    flex-direction: row;
    background-color: #f1f1f1;
    // background-image: url("assets/workbg.png");
    // background-repeat: vertical;
    .eSection {
        transform-origin: top left;
    }
}

.work {
    display: flex;
    width: 75vw;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}



.eSection {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contactForm {
    margin-left:-55%;
    display:flex;
    flex-direction:column;
    width:50em;
    padding:1em;
    background-color:#191919;
    border-radius:.2em;
    box-shadow: 1em 0 4em #3333331e;
   
    h1 {
        padding-bottom:.7em;
        color:rgb(173, 173, 173);
    }

    formgrp {
        display:flex;
        width:100%;
        justify-content: space-between;
    input {
        padding:1.2em;
        border-bottom:thin black solid;
        width: 22em;
        font-size:1em;
        margin-bottom:1em;
        color:#cdcdcd;
        background-color:#222;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0px;
        }
    .message {
        height:10vh;
        vertical-align: top;
        font-family:roboto;
        padding:1.2em;
        font-size:1em;
        background-color:#222;
        color:#cdcdcd;
    }
    .message:focus {
        outline-offset: -2px;
        outline: -webkit-focus-ring-color auto 0px;
    }

    .submit {
        font-size:1.1em;
        padding:1em;
        padding-top:1em;
        margin-top:1em;
        color:#888;
        background-color:#222;
        cursor: pointer;
    }
}

@keyframes expLineAnim {
    from {
        left: 0vw;
    }
    to {
        left: 45vw;
    }
}


@keyframes expColTrans {
    from {
        transform:translateX(0vw)    
    }
    to {
        transform:translateX(-12vw)    
    }
}

@keyframes expColTransHeader {
    from {
        transform:translateX(0vw)    
    }
    to {
        transform:translateX(12vw)
    }
}

.exp-col-trans {
    animation: expColTrans cubic-bezier(0.455, 0.03, 0.515, 0.955) 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transition:ease all 4s;
}

.exp-col-trans-header {
    animation: expColTransHeader cubic-bezier(0.455, 0.03, 0.515, 0.955) 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transition:ease all 4s;

}




.expHero {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    .headerTransExp {
        clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
        display: flex;
        flex: 1 0 56%;
        justify-content: flex-end;
        transition: ease all 1s;
        background-color: #191919;
        margin-left: 0;
    }
    .cTwoExp {
        display: flex;
        flex: 1 0 54%;
        justify-content: flex-start;
        padding-left: 2em;
        transition: ease all 1s;
        .eText {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            display: flex;
            flex: 0 0 40%;
            .expIcons {
                p {
                    display:flex;
                    align-items: center;
                    img{
                        padding: .5em;
                    }
                }
                display:flex;
                flex-direction: column;
                flex: 0 0 30%;
                margin-bottom: 1.5em;
                margin-top: 1.5em;
                padding-left: .5em;
                padding-right: .5em;
                justify-content: center;
                .svgIconWhite {
                    overflow: visible !important;
                    box-shadow: 0 0 10000px transparent;
                    z-index: 99;
                    fill:black;
                   
                    font-size:2.5em;
                    padding-bottom:.08em;
                    margin-left: 0.25em;
                    margin-right: .15em;
                
                }
                .svgIconGold {
                    overflow: visible !important;
                    box-shadow: 0 0 10000px transparent;
                    z-index: 99;
                    fill:rgb(233, 179, 1);
                    font-size:2.5em;
                    padding-bottom:.08em;
                    margin-left:.1em;
                    margin-right:.1em;
                }
            }
            text {
                margin-bottom: 1.5em;
                margin-top: 1.5em;
                flex: 0 0 30%;
                padding-left: .5em;
                padding-right: .5em;
                margin-left:1em;
                justify-content: center;
                h1 {
                    font-size:1.5em;
                }
                p {
                    font-size:1em;
                }
            }
        }
    }
        .heroblock.stageExp {
            width: 35vw;
            justify-content: center;
            display: flex;
            flex-direction: column;
            flex: 0 0 70%;
            justify-content: flex-start;
            margin-top: 5em;
            font-size: 1em;
            cursor: pointer;
            background-image: initial;

            .heading {
                display: flex;
                align-items: center;
                background-image: inherit;
                height: 3em;
                overflow: hidden;
                border-bottom: 1px solid #fafafa;
                margin-bottom: .7em !important;
            

                h1 {
                    font-size: 3.7em;
                    line-height: 1em;
                    font-weight: 900;
                    margin-left: 0em;
                    margin-top: 0.15em;
                    margin-bottom: 0em;
                    color: #424242;
                    width: auto;
                    overflow: hidden;
                    text-align: left;
                }

                img {
                    height: 13.6em;
                }
                svg {
                    height: 14em;
                    width: 11.8em;
            }
            }

            .workDone {
                background-image:initial;
                margin-top:15vh;
              
                h2 {
                    
                    font-size: 1.1em;
                    padding:.7em 1em;
                    background-color: #111111;
                    font-weight: 300;
                    font-style: normal;
                    color: white;
                    width: 9em;
                    margin-top: 0.5em;
                    margin-left:5.2em;
                    line-height: 1.4;
                    clip-path: polygon(0 0, 9em 0, 100% 100%, 0% 100%);   
                }
            }

            .description {
                background-image:initial;
                p {
                    font-weight: 100;
                    font-size: 1.1em;
                    color: rgba(0,0,0,0.57);
                    margin-left: 3em;
                    margin-bottom:.5em;
                    color:#cdcdcd;

                }
            }

        }
    
}

.expLine1 {
    position: absolute;
    border-bottom: 2px solid #cdcdcd;
    height: 1px;
    top: 48.9vh;
    left: 0vw;
    width: 46vw;
    z-index:0;
}

.expLine2 {
    animation: expLineAnim ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transition:ease all 4s;
    position: absolute;
    border-bottom: thin solid #1a1a1a;
    height: 1px;
    top: 48.9vh;
    z-index:-1;
    left: 0vw;
    margin-left: -10vw;
    max-width: 600vw;
}



.eRow1 {
    display: flex;
    flex: 1 0 65%;

    width: 100vw;
    height: 65%;

    .eText {
        justify-content: center;

        text {
            padding-left: 1em;
            z-index: 1;
            // background-image: url("assets/workbg.png");
            // background-repeat: vertical;
            // background-position-x: -4.6vw;
            background-color: #f1f1f1;
            flex: 0 0 40%;
            padding-right: 0;
            margin-right: 10vw;
            p {
                line-height: 1.4;
            }
        }
    }
}
.eRow2 {
    display: flex;
    // flex: 1 0 25%;

    width: 100vw;
    // background-color: rgb(25, 25, 25);
    // height: 35%;
    itemheading {
        align-items: center;
        text {
            font-size: 0.8vw;
            line-height: 1.4;
            font-weight: 300;
        }

    }
    .eText {
        justify-content: center;
        text {
            flex: 0 0 50%;
        }
    }
}



.expHeading {
    margin-left: 1.4em;
}









.contactinfo {
    position: absolute;
    margin-bottom: 17%;
    font-family: roboto;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 300;
    padding-left: .3em;
    width: 100%;
    pointer-events: none;
    bottom: 0;

}

.cBackground {
    background-image: url("assets/snowboarding-backdrop.jpg");
    background-size:cover;
    background-position-y: 155%;

}



.eSection {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.cSection {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}


.cRow1 {
    display: flex;
    flex: 1 0 40%;
    width: 100vw;
    align-items: center;
    justify-content: center;
    .eText {
        justify-content: center;

        text {

            padding-left: 1em;
            z-index: 1;
            background-color: #f1f1f1;
            flex: 0 0 70%;
            padding-right: 0;
            margin-right: 0vw;
            p {
                line-height: 1.4;
            }
        }
    }
}
.cRow2 {
    display: flex;
    flex: 1 0 50%;
    width: 100vw;
    background-color: #191919;

}

.formpos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color:#191919;
    overflow: hidden;
    block {
        display: flex;
        flex: 0 0 57%;
    }

    text {
        display: flex;
        flex: 0 0 65%;
        padding-left: 3em;
        padding-right: 4vw;
        font-size: 0.8vw;
        color: #191919;
        font-weight: 200;
        flex-direction: column;
        margin-bottom: 4vw;

        p {
            font-size: 1em;
            padding-bottom: 0.5em;
            font-weight: 300;
        }

        h1 {
            font-size: 1.75em;
            font-weight: 300;
            padding-bottom: 0.25em;
        }

        img {
            width: 10em;
            padding: 2em;
        }
    }
}



.myForm {
    display:flex;
    flex-direction:column;
    width:100%;
    padding:1em;
    background-color:#191919;
    border-radius:.2em;
    // box-shadow: 1em 0 4em #33333344;
    z-index:1;
    font-size: 1.2em;
    h1 {
        color:#dcdcdc;
    }

    formgrp {
        display:flex;
        width:100%;
        justify-content: space-between;
    input {
        padding:1.2em;
        border-bottom:thin black solid;
        width: 44%;
        font-size:.7em;
        margin-bottom:1em;
        color:#dcdcdc;
        background-color:#191919;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0px;
        }
    .message {
        height:10vh;
        vertical-align: top;
        font-family:roboto;
        padding:1.2em;
        margin-top:1em;
        font-size:.7em;
        background-color:#191919;
        color:#dcdcdc;
        border-bottom:thin black solid;
    }
    .message:focus {
        outline-offset: -2px;
        outline: -webkit-focus-ring-color auto 0px;
    }

    .submit {
        font-size:1.1em;
        padding:.3em;
        padding-top:.4em;
        margin-top:1em;
        color:#dcdcdc;
        background-color:#111;
        cursor: pointer;
        transition:ease all .7s;
        border-radius: .2em;

    }
    .submit:hover {
        color:#111;
        background-color:#dcdcdc;

    }
}