.aboutMe {
    margin-left: 1.4em;
    line-height: 1.8;
    width: 36vw;
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 300;
    background-color:#191919;
    z-index: 99;
}

.pSec {
    width: 65vw;
    .eRow2 {
        width: 65vw;
    }
}

.contactForm {
    margin-left:-55%;
    display:flex;
    flex-direction:column;
    width:50em;
    padding:1em;
    background-color:#191919;
    border-radius:.2em;
    box-shadow: 1em 0 4em #3333331e;
   
    h1 {
        padding-bottom:.7em;
        color:rgb(173, 173, 173);
    }

    formgrp {
        display:flex;
        width:100%;
        justify-content: space-between;
    input {
        padding:1.2em;
        border-bottom:thin black solid;
        width: 22em;
        font-size:1em;
        margin-bottom:1em;
        color:#cdcdcd;
        background-color:#222;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0px;
        }
    .message {
        height:10vh;
        vertical-align: top;
        font-family:roboto;
        padding:1.2em;
        font-size:1em;
        background-color:#222;
        color:#cdcdcd;
    }
    .message:focus {
        outline-offset: -2px;
        outline: -webkit-focus-ring-color auto 0px;
    }

    .submit {
        font-size:1.1em;
        padding:1em;
        padding-top:1em;
        margin-top:1em;
        color:#888;
        background-color:#222;
        cursor: pointer;
    }
}

.eRow1 {
    display: flex;
    flex: 1 0 65%;
    width: 40vw;
    height: 65%;

    blurb {
        text {
            flex: 0 0 70%;
            p {
                line-height: 1.4;
            }
        }
    }
}
.eRow2 {
    display: flex;
    flex: 1 0 25%;
    width: 40vw;
    background-color: rgb(25, 25, 25);
    height: 35%;
    itemheading {
        align-items: center;
        text {
            font-size: 0.8vw;
            line-height: 1.4;
            font-weight: 300;
        }

    }
    blurb {
        text {
            flex: 0 0 70%;
        }
    }
}


.expHeading {
    margin-left: 1.4em;
}




formpos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    block {
        display: flex;
        flex: 0 0 57%;
    }

    text {
        display: flex;
        flex: 0 0 35%;
        padding-left: 3em;
        padding-right: 4vw;
        font-size: 0.8vw;
        color: #191919;
        font-weight: 200;
        flex-direction: column;
        margin-bottom: 4vw;

        p {
            font-size: 1em;
            padding-bottom: 0.5em;
            font-weight: 300;
        }

        h1 {
            font-size: 1.75em;
            font-weight: 300;
            padding-bottom: 0.25em;
        }

        img {
            width: 10em;
            padding: 2em;
        }
    }
}



.myForm {
    margin-left:-50em;
    display:flex;
    flex-direction:column;
    width:100%;
    padding:1em;
    background-color:#191919;
    border-radius:.2em;
    box-shadow: 1em 0 4em #3333331e;
   
    h1 {
        color:rgb(173, 173, 173);
    }

    formgrp {
        display:flex;
        width:100%;
        justify-content: space-between;
    input {
        padding:1.2em;
        border-bottom:thin black solid;
        width: 19em;
        font-size:.7em;
        margin-bottom:1em;
        color:#cdcdcd;
        background-color:#222;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0px;
        }
    .message {
        height:10vh;
        vertical-align: top;
        font-family:roboto;
        padding:1.2em;
        font-size:.7em;
        background-color:#222;
        color:#cdcdcd;
    }
    .message:focus {
        outline-offset: -2px;
        outline: -webkit-focus-ring-color auto 0px;
    }

    .submit {
        font-size:1.1em;
        padding:.3em;
        padding-top:.4em;
        margin-top:1em;
        color:#888;
        background-color:#222;

    }
}



.contactinfo {
    position: absolute;
    margin-bottom: 17%;
    font-family: roboto;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 300;
    padding-left: .3em;
    width: 100%;
    pointer-events: none;
    bottom: 0;

}

.cBackground {
    background-image: url("assets/snowboarding-backdrop.jpg");
    background-size:cover;
    background-position-y: 155%;

}



.eSection {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
}
