.exp {
    }

.eRow1 {
    display: flex;
    flex: 1 0 65%;
    width: 40vw;
    height: 65%;

    blurb {
        text {
            flex: 0 0 70%;
            p {
                line-height: 1.4;
            }
        }
    }
}
.eRow2 {
    display: flex;
    flex: 1 0 25%;
    width: 40vw;
    background-color: rgb(25, 25, 25);
    height: 35%;
    itemheading {
        align-items: center;
        text {
            font-size: 0.8vw;
            line-height: 1.4;
            font-weight: 300;
        }

    }
    blurb {
        text {
            flex: 0 0 70%;
        }
    }
}


.expHeading {
    margin-left: 1.4em;
}



.contactinfo {
    position: absolute;
    margin-bottom: 17%;
    font-family: roboto;
    text-align: center;
    font-size: 1.25vw;
    font-weight: 300;
    padding-left: .3em;
    width: 100%;
    pointer-events: none;
    bottom: 0;

}



.eSection {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
}
