@media only screen and (max-width: 87.5em) {

    .contactForm {
        margin-left:-90%;
        display:flex;
        flex-direction:column;
        width:50em;
        padding:1em;
        background-color:#191919;
        border-radius:.2em;
        box-shadow: 1em 0 4em #3333331e;
        transform:scale(.8);
    }


    .webWork {
        height: 68%;
        margin-top: 10vh;
    
        .webImage {
            
        }
    }

    .hero .col {
        display: flex;
        flex: 0 0 20%;
        justify-content: flex-end;
    }

    .c1 {
        margin-left: 0;
        font-size: 0.85vw;
        flex-direction: column;
        align-items: center;
    }

    .header .hero .col .heroblock {
        margin-left: 1em;
        justify-content: flex-start;
        font-size: .9em;
        margin-top: 50%;
    }

    .header .hero .col .heroblock .heading {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .header .hero .col .heroblock h1 {
        margin-left: 0;
    }

    .header .hero .col .heroblock p {
        margin-left: 0;
    }

    .header .hero .col .heroblock h2 {
        margin-left: 0;
    }

}

@media only screen and (max-width: 60em) {
    svg#Layer_1 {
        margin-right: inherit;
        width: inherit;
        padding-left:50vw;
    }

}

@media only screen and (max-width: 30em) {

    .scroll-downs {
        transform:scale(.8);
        position: absolute;
        bottom: 8vh;
        left: 25vw;
        margin: auto;
        
        width :34px;
        height: 55px;
      }

    .hero .col {
        display: flex;
        flex: 1 0 20%;
        justify-content: flex-end;
    }

    .c2 {
        width: 50%;
    }

    .c1 {
        margin-left: 0;
        font-size: 0.95vw;
        flex-direction: column;
        align-items: center;
    }


    .header .hero .col .heroblock .heading {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .header .hero .col .heroblock h1 {
        margin-left: 0;
    }

    .header .hero .col .heroblock p {
        margin-left: 0;
    }

    .header .hero .col .heroblock h2 {
        margin-left: 0;
    }

    g#contact {
        transition: 2s;
        transform: translate(-21.5%, 19.9%) scale(0.7);
        clip-path: polygon(0 0, 95.5% 0, 84.6% 100%, 0% 100%);
    }

    g#contacttext {
        transform: translate(1em, 0);
    }

    #contact polygon:first-of-type {
        transition: 0.2s ease-in;
        transform: translate(0em, 0);
    }

    #contact:hover {
        transform: scale(.8);
        transform: translate(-21.5%, 19.9%) scale(0.7);
        transition: 0.8s ease-in-out;
        transform-origin: initial;
        cursor: pointer;
        filter: drop-shadow(0px 10px 5px black);
        opacity: 0.85;
    }

    .contactinfo {
        position: absolute;
        margin-bottom: 0%;
        font-family: roboto;
        text-align: right;
        font-size: 1em;
        font-weight: 400;
        padding-left: 0em;
        width: 67%;

        padding: .2em;
        padding-right: 1em;

        background-color: #ffffff;
        pointer-events: none;
        bottom: 0;
    }

    g#portfolio {
        transition: 2s;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg);
 
    }

    g#portfolio {
        clip-path: initial;
    }

    polygon#portfolioBlock {
        transform: translate(54%, 54.4%) scale(0.7) rotate(135.6deg) !important;

        clip-path: polygon(0 0, 80% 0, 77% 100%, 0% 100%);
    }

    g#portfolio > g > polygon {
        transition: 2s;
        transform: translate(55%, 55%) scale(.7) rotate(137.7deg);
    }

    
    #portfolio:hover {
        transform: scale(1);
        transition: 0.8s ease-in-out;
        transform-origin: inherit;
        cursor: pointer;
        opacity: 0.85;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg) !important;
    }

    g#portfolio g path {
        transition: 2s;
        transform: translate(-30%, 44%) scale(0.7) rotate(-44.5deg);
    }

    g#cv polygon:nth-child(2) {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }

    g#cv g path {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }



    .header .hero .col .ui svg {
        height: 100vh;
        margin-bottom: -.5em;
        overflow: visible;
    }

    .myForm {
        margin-left: -25em;
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: scale(2);
        font-size: 2em;
        padding: 1em;
        background-color: #191919;
        border-radius: .2em;
        box-shadow: 1em 0 4em #3333331e;
        formgrp {
            display:flex;
            width:100%;
            justify-content: space-between;
        input {
            padding:.8em;
            border-bottom:thin none;
            width: 11em;
            font-size:.85em;
            margin-bottom:1em;
            color:#cdcdcd;
            background-color:#222;
                }
            }
    
            input:focus {
                outline-offset: -2px;
                outline: -webkit-focus-ring-color auto 0px;
            }
        .message {
            height:10vh;
            vertical-align: top;
            font-family:roboto;
            padding:.85em;
            font-size:.9em;
            background-color:#222;
            color:#cdcdcd;

        }
            .message:focus {
                outline-offset: -2px;
                outline: -webkit-focus-ring-color auto 0px;
            }
        .submit {
            font-size:1.1em;
            padding:.3em;
            padding-top:.4em;
            margin-top:1em;
            color:#888;
            background-color:#222;
    
        }
    }



    .navlist {
        margin-left: 0;
        padding-left: 7vw;
        width: 100vw;
        right: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        position: absolute;
        z-index: 9999;
        transition: 0.5s ease all;
        padding-top: 0.5em;
         h2 {
            padding: 0.5em 1em;
            color: #333;
            width: 8em;
            font-weight: 200;
            font-size: .7em;
            cursor: pointer;
            transition: ease all 0.5s;
            text-align: center;
            border-bottom: #222;
        }
    }

    .navlist.P {
        display:none;
        margin-right: 21em;
        width: initial;
        justify-content: flex-start;
    }
    .navlist {
        .zB {
            h2{
            color:transparent !important;
            }
        }
    }
    

    .expHeading {
        margin-left: -3em;
        font-size: 2em;
    }

    .workHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .createHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .header .hero .col .heroblock {
        margin-left: 0;
        justify-content: flex-start;
        font-size: 1.1em;
        margin-top:30vh;
    }

    svg#Layer_1 {
        margin-right: -50vw;
        width: 198vw;
    }

    .blackBar {
        width: 100%;
        height: 25%;
        background-color: #191919;
        position: absolute;
        z-index: -1;
        bottom: 0;
    }

    .row1 {
        display: flex;
        flex: 1 0 65%;
        width: 100vw;
        height: 65%;
        blurb {
            text {
                    font-size:.5em;
            }
        }
    }

    .row2 {
        display: flex;
        flex: 1 0 15%;
        width: 100vw;
        background-color: #191919;
        height: 35%;
        
    }

    .eRow1 {
        display: flex;
        flex: 1 0 65%;
        width: 100vw;
        height: 65%;
        blurb {
            text {
                   
                    font-size:.5em;
                    color:#333;
                
            }
        }
    }

    .eRow2 {
        display: flex;
        flex: 1 0 15%;
        width: 100vw;
        background-color: #191919;
        height: 35%;
        itemheading {
            z-index: 6666;
            text {
                font-size:.5em;
            }
        }
    }

    .eRow2  {

        z-index: 99;
    }


    blurb {
        block {
            display: flex;
            flex: 0 0 50%;
        }

        text {
            flex: 0 0 20%;
            font-size: 0.5em;
            width: 70vw;
            position: absolute;
            bottom: 1vw;
            color: #dcdcdc;
        }
    }

    .eRow1 {
        blurb {
            text {
                position: relative;
            }
        }
    }

    .webWork {
        cursor: pointer;
        margin-left: 0;
        min-width: 12em;
        height: 55%;
        margin-top: 15%;
        position: absolute;
        overflow: hidden;
        padding: 1.25vw;
        width: 45vw;
        max-width: 18em;

        .webImage {
            
        }
    }

    itemheading block h1 {
        font-size: 2em;
        font-weight: 300;
        margin-top: -0.93em;
        margin-left: -6vw;
    }
    text.skills1 h1 {
        font-size: .8em;
        font-weight: 100;
        margin-left: -8em;
        display:none;
    }

    text.skills h1 {
        font-size: .8em;
        font-weight: 100;
        margin-left: 7em;
        display:none;
    }

    itemheading text imgblock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8vw;
        width: 8vw;
        z-index: 5;
        padding: 1vw 1.5vw;
        border: thin #222 solid;
        position: absolute;

        img {
            margin-top: 1em;
            width: 3.5em;
            padding: 0.5em;
        }
    }

}



@media screen and (orientation:landscape)
and (min-device-width: 25em) 
and (max-device-width: 60em) {
        .webWork {
        cursor: pointer;
        margin-left: 30vw;
        min-width: 5em;
        height: 55%;
        margin-top: 8%;
        position: absolute;
        overflow: hidden;
        padding: 1.25vw;
        width: 22vw;
        max-width: 18em;
    }

    blurb text {
        margin-bottom: 2vw;
    }

    .eRow2 {

        flex: 1 0 35%;
    }
    .row2 {

        flex: 1 0 35%;
    }

    
}


@media screen and (orientation:portrait)
and (min-device-width: 30em) 
and (max-device-width: 87.5em) {
    .scroll-downs {
        transform:scale(.8);
        position: absolute;
        bottom: 8vh;
        left: 25vw;
        margin: auto;
        
        width :34px;
        height: 55px;
      }

    .hero .col {
        display: flex;
        flex: 1 0 20%;
        justify-content: flex-end;
    }

    .c2 {
        width: 50%;
    }

    .c1 {
        margin-left: 0;
        font-size: 0.95vw;
        flex-direction: column;
        align-items: center;
    }


    .header .hero .col .heroblock .heading {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .header .hero .col .heroblock h1 {
        margin-left: 0;
    }

    .header .hero .col .heroblock p {
        margin-left: 0;
    }

    .header .hero .col .heroblock h2 {
        margin-left: 0;
    }

    g#contact {
        transition: 2s;
        transform: translate(-21.5%, 19.9%) scale(0.7);
        clip-path: polygon(0 0, 95.5% 0, 84.6% 100%, 0% 100%);
    }

    g#contacttext {
        transform: translate(1em, 0);
    }

    #contact polygon:first-of-type {
        transition: 0.2s ease-in;
        transform: translate(0em, 0);
    }

    #contact:hover {
        transform: scale(.8);
        transform: translate(-21.5%, 19.9%) scale(0.7);
        transition: 0.8s ease-in-out;
        transform-origin: initial;
        cursor: pointer;
        filter: drop-shadow(0px 10px 5px black);
        opacity: 0.85;
    }

    .contactinfo {
        position: absolute;
        margin-bottom: 0%;
        font-family: roboto;
        text-align: right;
        font-size: 1em;
        font-weight: 400;
        padding-left: 0em;
        width: 67%;

        padding: .2em;
        padding-right: 1em;

        background-color: #ffffff;
        pointer-events: none;
        bottom: 0;
    }

    g#portfolio {
        transition: 2s;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg);
 
    }

    g#portfolio {
        clip-path: initial;
    }

    polygon#portfolioBlock {
        transform: translate(54%, 54.4%) scale(0.7) rotate(135.6deg) !important;

        clip-path: polygon(0 0, 80% 0, 77% 100%, 0% 100%);
    }

    g#portfolio > g > polygon {
        transition: 2s;
        transform: translate(55%, 55%) scale(.7) rotate(137.7deg);
    }

    
    #portfolio:hover {
        transform: scale(1);
        transition: 0.8s ease-in-out;
        transform-origin: inherit;
        cursor: pointer;
        opacity: 0.85;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg) !important;
    }

    g#portfolio g path {
        transition: 2s;
        transform: translate(-30%, 44%) scale(0.7) rotate(-44.5deg);
    }

    g#cv polygon:nth-child(2) {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }

    g#cv g path {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }



    .header .hero .col .ui svg {
        height: 100vh;
        margin-bottom: -.5em;
        overflow: visible;
    }

    .myForm {
        margin-left: -25em;
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: scale(2);
        font-size: 2em;
        padding: 1em;
        background-color: #191919;
        border-radius: .2em;
        box-shadow: 1em 0 4em #3333331e;
        formgrp {
            display:flex;
            width:100%;
            justify-content: space-between;
        input {
            padding:.8em;
            border-bottom:thin none;
            width: 11em;
            font-size:.85em;
            margin-bottom:1em;
            color:#cdcdcd;
            background-color:#222;
                }
            }
    
            input:focus {
                outline-offset: -2px;
                outline: -webkit-focus-ring-color auto 0px;
            }
        .message {
            height:10vh;
            vertical-align: top;
            font-family:roboto;
            padding:.85em;
            font-size:.9em;
            background-color:#222;
            color:#cdcdcd;

        }
            .message:focus {
                outline-offset: -2px;
                outline: -webkit-focus-ring-color auto 0px;
            }
        .submit {
            font-size:1.1em;
            padding:.3em;
            padding-top:.4em;
            margin-top:1em;
            color:#888;
            background-color:#222;
    
        }
    }



    .navlist {
        margin-left: 0;
        padding-left: 7vw;
        width: 100vw;
        right: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        position: absolute;
        z-index: 9999;
        transition: 0.5s ease all;
        padding-top: 0.5em;
         h2 {
            padding: 0.5em 1em;
            color: #333;
            width: 8em;
            font-weight: 200;
            font-size: .7em;
            cursor: pointer;
            transition: ease all 0.5s;
            text-align: center;
            border-bottom: #222;
        }
    }

    .navlist.P {
        display:none;
        margin-right: 21em;
        width: initial;
        justify-content: flex-start;
    }
    .navlist {
        .zB {
            h2{
            color:transparent !important;
            }
        }
    }
    

    .expHeading {
        margin-left: -3em;
        font-size: 2em;
    }

    .workHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .createHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .header .hero .col .heroblock {
        margin-left: 0;
        justify-content: flex-start;
        font-size: 1.1em;
        margin-top:30vh;
    }

    svg#Layer_1 {
        margin-right: -50vw;
        width: 198vw;
    }

    .blackBar {
        width: 100%;
        height: 25%;
        background-color: #191919;
        position: absolute;
        z-index: -1;
        bottom: 0;
    }

    .row1 {
        display: flex;
        flex: 1 0 65%;
        width: 100vw;
        height: 65%;
        blurb {
            text {
                    font-size:.5em;
            }
        }
    }

    .row2 {
        display: flex;
        flex: 1 0 15%;
        width: 100vw;
        background-color: #191919;
        height: 35%;
        
    }

    .eRow1 {
        display: flex;
        flex: 1 0 65%;
        width: 100vw;
        height: 65%;
        blurb {
            text {
                   
                    font-size:.5em;
                    color:#333;
                
            }
        }
    }

    .eRow2 {
        display: flex;
        flex: 1 0 15%;
        width: 100vw;
        background-color: #191919;
        height: 35%;
        itemheading {
            z-index: 6666;
            text {
                font-size:.5em;
            }
        }
    }

    .eRow2  {

        z-index: 99;
    }


    blurb {
        block {
            display: flex;
            flex: 0 0 50%;
        }

        text {
            flex: 0 0 20%;
            font-size: 0.5em;
            width: 70vw;
            position: absolute;
            bottom: 1vw;
            color: #dcdcdc;
        }
    }

    .eRow1 {
        blurb {
            text {
                position: relative;
            }
        }
    }

    .webWork {
        cursor: pointer;
        margin-left: 0;
        min-width: 12em;
        height: 55%;
        margin-top: 15%;
        position: absolute;
        overflow: hidden;
        padding: 1.25vw;
        width: 45vw;
        max-width: 18em;

        .webImage {
            
        }
    }

    itemheading block h1 {
        font-size: 2em;
        font-weight: 300;
        margin-top: -0.93em;
        margin-left: -6vw;
    }
    text.skills1 h1 {
        font-size: .8em;
        font-weight: 100;
        margin-left: -8em;
        display:none;
    }

    text.skills h1 {
        font-size: .8em;
        font-weight: 100;
        margin-left: 7em;
        display:none;
    }

    itemheading text imgblock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8vw;
        width: 8vw;
        z-index: 5;
        padding: 1vw 1.5vw;
        border: thin #222 solid;
        position: absolute;

        img {
            margin-top: 1em;
            width: 3.5em;
            padding: 0.5em;
        }
    }


    
}