
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

/* Basic Styles */


.mobNavContainer {
  position: relative;
  width: 10em;
  height: 14em;
  overflow: hidden;
}

/* Toggle Functionality */

#toggle {
  display: none; //hides the checkbox
}


// Styles for the 'open' state, if the checkbox is checked
#toggle:checked {

  //Any element you need to change the style if menu is open goes here, using the sibling selector (~)
  & ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba( 0, 0, 0, 0), inset 0 0 0 20px rgba( 0, 0, 0, 0.0);

    &:before {
      transform: translateY(-50%) rotate(45deg) scale(1);
      
    }

    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(1);
    }
  }

  // Open Nav
  & ~ .nav {
    margin-bottom: 100px;
    pointer-events: auto;
    padding: 4vh 2em 2em 1.8em;

    // Restoring nav items from 'lines' in the menu icon
    .nav-item {
      color:#2bb0ce;
      letter-spacing: 0;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1);
      transition: $transition-duration, opacity 0.1s;


      // Setting delays for the nav items in open transition
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          $delay: ($items - $i) * $transition-delay;
          transition-delay: $delay;
          &:before {
            transition-delay: $delay;
          }
        }
      }

      // Hide the lines
      &:before {
        opacity: 0;
      }
    }
  }

  & ~ .dummy-content {
    padding-top: 30px;

    &:before {
      background-color: rgba(0, 0, 0, 0.0);
    }
  }
}

/* Toggle Button */

.button-toggle {
  position: absolute;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: $transition-duration + 0.1;

  // Shadow on Hover
  &:hover {

   box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.0), inset 0 0 0 20px rgba(0, 0, 0, 0.0);
  }

  // Making the 'X' icon using `:before` and `:after` pseudo-elements
  // Initially hidden beause of `scale(0)` transformation

  &:before, &:after {
    position: absolute;
    content: '';
    top: 20%;
    left: 10%;
    width: 50%;
    height: 1px;
    background-color: #2bb0ce;
    border-radius: 5px;
    transition: $transition-duration;
  }

  &:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }

  &:after {
    transform: translateY(50%) rotate(-45deg) scale(0);
  }
}

/* Menu */

.nav {
    display: inline-block;
    padding: 2vh 2em 1.8em 2em;
    pointer-events: none;
    // background-color: black;
    transition: $transition-duration;
    
}

// Showing nav items as lines, making up the hamburger menu icon
.nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -5.2px;
  height: 9px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);

  transition: $transition-duration, opacity 1s;

  //Set delays for the nav items in close transition
  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      $delay: ($i - 1) * $transition-delay;
      transition-delay: $delay;
      &:before {
        transition-delay: $delay;
      }
    }
  }

  // Adjusting width for first line
  &:nth-child(1) {
    letter-spacing: -6.5px;
  }

  // Adjusting width for second line
  &:nth-child(2) {
    letter-spacing: -4.5px;
  }

  // Adjusting the fourth element onwards
  &:nth-child(n + 4) {
    letter-spacing: -4.7px;
 
    opacity: 1;
  }

  //getting lines for the hamburger menu icon
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2bb0ce;
    transform: translateY(-50%) scaleY(5);
    transition: $transition-duration;
  }
}




@media only screen and (max-width: 87.5em) {
    .WorkHero .col .heroblock .description {
        font-size:1.4em;
        p {
            margin-left: 0em;
        }

    }
    .WorkHero .col .heroblock .workDone h2 {

        margin-left:0em;

}

    .expHero .headerTransExp {
        flex-direction: row;

        .expIcons {
            display: none;
        }
    }

    .expHero .cTwoExp .eText .expIcons {
        display: none;
    }

    .col.c2.cTwoExp {
        // justify-content: space-around;
        // align-items: flex-start;
    }

    .expLine2 {

        display: none;

    }

    .expLine1 {

        display: none;

    }

    .stageExp {
    .description p::before {
        font-size: 1.5em;
        width: 50vw;
        padding: 0;
        margin-left: -5vw;
    }
}

    .stageExp .heading {
        height: 3.8em;
    }

    .stageExp {
        width:30vw;
    }

    .contactForm {
        margin-left: -90%;
        display: flex;
        flex-direction: column;
        width: 50em;
        padding: 1em;
        background-color: #191919;
        border-radius: 0.2em;
        box-shadow: 1em 0 4em #3333331e;
        transform: scale(.8);
    }

    // .WorkHero .col .heroblock {
    //     justify-content: center;
    //     display: flex;
    //     flex-direction: column;
    //     flex: 1 0 60%;
    //     justify-content: center;
    //     margin-top: 5em;
    //     margin-left: 0vw;
    //     padding-left: 2em;
    //     padding-right:2em;
    //     cursor: pointer;
    //     .description {
    //         p {
    //             font-size: 1.75em;
    //             margin-left: 0em;
    //             margin-top: .5em;
    //         }
    //     }
    // }

    .hero .col {
        display: flex;
        flex: 0 0 20%;
        justify-content: flex-end;
    }

    .c1 {
        margin-left: 0;
        font-size: 0.85vw;
        flex-direction: column;
        align-items: center;
    }

    .header .hero .col .heroblock {
        margin-left: 1em;
        justify-content: flex-start;
        font-size: 0.9em;
        margin-top: 50%;
    }

    .header .hero .col .heroblock .heading {
        display: flex;

    }

    .header .hero .col .heroblock h1 {
        margin-left: 0;
    }

    .header .hero .col .heroblock p {
        margin-left: 0;
    }

    .header .hero .col .heroblock h2 {
        margin-left: 0;
    }

    .itemheading text imgblock {
        margin-top: -36vh;
    }

}

@media only screen and (max-width: 60em) {
    .mobNavContainer {
        position: relative;
        width: 100vw;
        height: 5em;
        overflow: hidden;
      }
    .nav {
        display: inline-block;
        padding: 2vh 2em 1.8em 1em;
        pointer-events: none;
        transition: 0.5s;
    }
    #toggle:checked ~ .nav {
        margin-bottom: 100px;
        pointer-events: auto;
        padding: 1vh 1em 0em 10vw;
        background-color:#191919;
        width: 90vw;
        display: flex;
        justify-content: space-around;
    }
    .button-toggle {
        position: absolute;
        display: inline-block;
        width: 2em;
        height: 2em;
        margin: 20px;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 100%;
        transition: 0.6s;
    }

    .button-toggle:before, .button-toggle:after {
        width: 70%;
        
    }

    svg#Layer_1 {
        margin-right: inherit;
        width: inherit;
        padding-left: 50vw;
    }
    .itemheading text imgblock {
        margin-top: -36vh;
    }

    .cTwoExp {
        display: flex;
        flex: 1 0 20%;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 0;
        margin-left: 3vw;
        .eText {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            text {
                color: #191919;
            }
        }
    }

    .eRow1 {
        display: flex;
        flex: 1 0 99%;
        width: 100vw;
        height: 100%;
        align-items: center;
        .eText {
            text {
                flex: 0 0 73%;
                font-size: 0.5em;
                color: #333;
                padding: 1.5em;
                margin: 1em;

            }
        }
    }

    .eRow2 {
        display: flex;
        flex: 1 0 0;
        width: 100vw;
        height: 0;
        itemheading {
            z-index: 6666;
            text {
                font-size: 0.5em;
            }
        }
    }

    .eRow2 {

        z-index: 99;
    }

    .navlist {
        font-size: .82em;
    }

}



@media only screen and (max-width: 30em) {

    .WorkHero .col .heroblock .description {
        font-size:.7em;
        p {
            margin:0;
            line-height:1.5;
            margin-left: 0em;
        }

    }
    .WorkHero .col .heroblock .workDone h2 {

        margin-left:0em;

}

    .WorkHeaderSection.pHeaderSection.stageZero {
        z-index: 1;
        position: absolute;
        width: 100vw;
        height: 60vh;
        pointer-events: none;
        background-color:#191919;
        background-image:initial;
    }
    

    .vScroller {
        .section {
            width: 100vw;
        }
    }

    .WorkHero {

            height: 60vh;

        .col {
            display: flex;
            flex: 1 0 85%;
            justify-content: flex-end;
            transition: ease all 1s;
            font-size: 0.4em;
            padding: 0em 2em;
            justify-content: center;
            .heroblock {
                justify-content: flex-start;
                margin-top: 15em;
    
                .description {
                    overflow-wrap: break-word;
                    
                    p {
                        width:100%;
                        font-size: 2em;
                        padding: 1em .5em;
                        margin-left:0em;
                    }
    
                }
            }
            .workDone {
    
                h2 {
                    margin-top: 0;
                    margin-left: 1em;
                    font-size: 1.3em;
                    width: 9em;
                    line-height: 1.4;
                }
            }
        }
    }



    .expHero {
        flex-direction: column;
        .headerTransExp {
            margin-left: 2em;
            margin-top: 15em;
            transition: ease all 1s;
            background-color: transparent;
            flex: 0 0 30%;

            -webkit-clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            .stageExp {
                flex: 0 0 68%;
                .heading {
                    margin-left:3em;
                    border-bottom: 2px solid #ffffff !important;
                    transition: ease all 1.5s;
                }
                .description {
                    
                    p {
                        font-size: 2.2em;
                        margin-left: 3em;
                        font-weight: 300;
                    }
                }
                .workDone {
                    margin-top:0;
                }
            }
        }
        .cTwoExp {
            width: 100%;
            .expLine1 {
                display:none;
            }
            .expLine2 {
                display:none;
            }
            .eText {
                width: 100vw;
                flex:0 0 20%;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                .expIcons {
                    display:none;
              
                    .svgIconWhite {
                    
                    }
                    .svgIconGold {
                   
                    }
                }
                text {
                    margin-bottom:0em;
                    flex: 0 0 50%;
                    h1 {
                        font-size:4.5em;
                        font-weight:700;
                    }
                    p {
                        font-size:4em;
                    }
                }
            }
        }
    }



    #toggle:checked ~ .nav .nav-item {
        font-size: .7em;
        color: #ffffff;

    }
    .nav-item:before {
        background-color:#6a6a6a;
        transform:scaleX(.9) scaleY(2) translateX(-.5em);
    }

    .button-toggle:before, .button-toggle:after {
        background-color: #ffffff;
    }

    .cSection {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .cRow1 {
        justify-content: center;
        align-items: flex-end;
        flex: 1 0 30%;
        text {
            color:black;
        }
    }


    .formpos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0;
        height: 100%;
        width: 100vw;
        padding-left: 0;
        flex: 1 0 100%;
        background-color: #ffffff;
        clip-path: initial;
        /* overflow: hidden; */
    }

    .myForm {
        display: flex;
        flex-direction: column;
        width: 60%;
        transform: scale(1.8);
        font-size: 2em;
        padding: 1em;
        background-color: #191919;
        border-radius: 0.2em;
        box-shadow: 0 0 0 #3333331e;
        formgrp {
            display: flex;
            width: 100%;
            justify-content: space-between;
            input {
                padding: 0.8em;
                border-bottom: thin none;
                width: 11em;
                font-size: 0.85em;
                margin-bottom: 1em;
                color: #cdcdcd;
                background-color: #222;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .message {
            height: 10vh;
            vertical-align: top;
            font-family: roboto;
            padding: 0.85em;
            font-size: 0.9em;
            background-color: #222;
            color: #cdcdcd;

        }
        .message:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .submit {
            font-size: 1.1em;
            padding: 0.4em 0.3em 0.3em;
            margin-top: 1em;
            color: #888;
            background-color: #222;

        }
    }

    .stageExp .heading {
        height: 3.8em;
    }

    .scroll-downs {
        transform: scale(.8);
        position: absolute;
        bottom: 8vh;
        left: 25vw;
        margin: auto;

        width: 34px;
        height: 55px;
    }

    .hero .col {
        display: flex;
        flex: 1 0 20%;
        justify-content: flex-end;
    }

    .c2 {
        width: 50%;
    }

    .c1 {
        margin-left: 0;
        font-size: 0.95vw;
        flex-direction: column;
        align-items: center;
    }

    .header .hero .col .heroblock .heading {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    g#contact {
        transition: 2s;
        transform: translate(-21.5%, 19.9%) scale(0.7);
        clip-path: polygon(0 0, 95.5% 0, 84.6% 100%, 0% 100%);
    }

    g#contacttext {
        transform: translate(1em, 0);
    }

    #contact polygon:first-of-type {
        transition: 0.2s ease-in;
        transform: translate(0em, 0);
    }

    #contact:hover {
        transform: scale(.8);
        transform: translate(-21.5%, 19.9%) scale(0.7);
        transition: 0.8s ease-in-out;
        transform-origin: initial;
        cursor: pointer;
        filter: drop-shadow(0px 10px 5px black);
        opacity: 0.85;
    }

    .contactinfo {
        position: absolute;
        margin-bottom: 0;
        font-family: roboto;
        text-align: right;
        font-size: 1em;
        font-weight: 400;
        padding-left: 0;
        width: 67%;

        padding: 0.2em 1em 0.2em 0.2em;

        background-color: #ffffff;
        pointer-events: none;
        bottom: 0;
    }

    g#portfolio {
        transition: 2s;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg);

    }

    g#portfolio {
        clip-path: initial;
    }

    polygon#portfolioBlock {
        transform: translate(54%, 54.4%) scale(0.7) rotate(135.6deg) !important;

        clip-path: polygon(0 0, 80% 0, 77% 100%, 0% 100%);
    }

    g#portfolio > g > polygon {
        transition: 2s;
        transform: translate(55%, 55%) scale(.7) rotate(137.7deg);
    }

    #portfolio:hover {
        transform: scale(1);
        transition: 0.8s ease-in-out;
        transform-origin: inherit;
        cursor: pointer;
        opacity: 0.85;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg) !important;
    }

    g#portfolio g path {
        transition: 2s;
        transform: translate(-30%, 44%) scale(0.7) rotate(-44.5deg);
    }

    g#cv polygon:nth-child(2) {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }

    g#cv g path {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }

    .header .hero .col .ui svg {
        height: 100vh;
        margin-bottom: -.5em;
        overflow: visible;
    }

    .homeHeader {
        padding-left: 0;
        right: 0;
        clip-path: initial;
        overflow: hidden;
    }

    

    .navlist {
        margin-left: 0;
        padding-left: 0;
        width: 100vw;
        left: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        position: absolute;
        z-index: 9999;
        transition: 0.5s ease all;
        padding-top: 0.5em;
        background-color: #191919;
        padding-bottom: 0.5em;
        h2 {
            padding: 0.5em 1em;
            color: #bdbdbd;
            width: 8em;
            font-weight: 200;
            font-size: 0.65em;
            cursor: pointer;
            transition: ease all 0.5s;
            text-align: center;
            border-bottom: #222;
        }
    }

    .navlist.P {
        display: none;
        margin-right: 21em;
        width: initial;
        justify-content: flex-start;
    }
    .navlist {
        .zB {
            h2 {
                color: transparent !important;
            }
        }
    }

    .expHeading {
        margin-left: -3em;
        font-size: 2em;
    }

    .workHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .createHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .colBlack {
        display:none;
    }



    svg#Layer_1 {
        margin-right: -50vw;
        width: 198vw;
    }

    .blackBar {
        width: 100%;
        height: 100%;
        background-color: #191919;
        position: absolute;
        z-index: -1;
        bottom: 0;
    }

    .section {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow-x:scroll;
    }

    .row1 {
        display: flex;
        flex: 1 0 100%;
        width: 100vw;
        height: 40%;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
    }

    .row2 {
        background-color: white;
        width: 100vw;
        flex: 1 0 100%;
        justify-content: center;
        height: 40%;
        align-items: center;
        margin-top: 2vw;
        .brand {
            display: flex;
            justify-content: space-evenly;
            font-size: .5vw;
            height: 100%;
            align-items: center;
            .logoContainer {
                width: 20vw;
                height: 20vw;
                display: flex;
                justify-content: center;
            }
        }
    }


    .webWork {
        cursor: pointer;
        margin-left: 0;
        min-width: 15em;
        width: 100vw;
        height: 60vw;
        margin-top: 0;
        overflow: hidden;
        background-color: #191919;
        border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABAAAAATiCAYAAAAkkZEKAAAe50lEQ…AgQAAAAACAAAEAAAAAAnZmjkcD8Nq993N0qnbX/gLgrZn5ARhaHXn2JriRAAAAAElFTkSuQmCC") 500 fill/4vw/0.05em space;
        transition: ease all 1s;
    }

    .item1 {
        transform: scale(0.9);
        cursor: pointer;
        margin-right: 0;
        margin-top: 1em;
    }

    .webWorkTilt {
       width: 100%;
       height: 100%;
        z-index: 9999;
    }

    blurb {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex: 1 1;
    }



    .webWorkMobileTilt {
        position: absolute;
        display: none;
    }

    .col.c2.colBlack {
        display: none;
        flex: 1 0 95%;
        justify-content: flex-end;
        height: 100vh;
        transition: ease all 1s;
        width: 35vw;
        right: 0;
        opacity: 0.07;
        z-index: 0;
        clip-path: initial;
        position: absolute;
        font-size: 0.5em;

    }

    .eRow1 {
        display: flex;
        flex: 1 0 99%;
        width: 100vw;
        height: 100%;
        align-items: center;
        .eText {
            text {
                flex: 0 0 73%;
                font-size: 0.5em;
                color: #333;
                padding: 1.5em;
                margin: 1em;

            }
        }
    }



    .eRow2 {
        display: flex;
        flex: 1 0 0;
        width: 100vw;
        height: 0;
        itemheading {
            z-index: 6666;
            text {
                font-size: 0.5em;
            }
        }
    }

    .eRow2 {

        z-index: 99;
    }

    blurb {
        block {
            display: flex;
            flex: 0 0 50%;
        }

        text {
            flex: 0 0 20%;
            font-size: 0.5em;
            width: 70vw;
            bottom: 1vw;
            color: #dcdcdc;
        }
    }



    .cRow1 {

        .eText {
            text {

                font-size: 0.5em;
                color: #333;
                padding: 1.5em;
                margin: 1em;

            }
        }
    }
    
    .stageExp  {
        padding-top:0%;
        width:100%;
        margin-left:0vw;
         padding-right: 0vw;
         z-index: 999999;
    }

    .stageExp .heading h1::before {
        color: black !important;
        content: "Experience";
        font-size:2em;
        height:2em;
        margin-top:-1em;
        position: absolute;
    }

    .stageExp .description p::before {
        color:#191919;
        font-size: 1.5em;
        width: 100vw;
        margin-left: 0em;
        margin-bottom: .5em;
    }

    formpos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        height: 100vh;
        width: 100vw;
        padding-left: 0;
        flex: 1 0 100%;
        background-color: #191919;
        clip-path: initial;
    }




    .eRow1 {
        blurb {
            text {
                position: relative;
            }
        }
    }

    text.skills1 h1 {
        font-size: 0.8em;
        font-weight: 100;
        margin-left: -8em;
        display: none;
    }

    text.skills h1 {
        font-size: 0.8em;
        font-weight: 100;
        margin-left: 7em;
        display: none;
    }

    itemheading text imgblock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8vw;
        width: 8vw;
        z-index: 5;
        padding: 1vw 1.5vw;
        border: thin #222 solid;
        position: absolute;

        img {
            margin-top: 1em;
            width: 3.5em;
            padding: 0.5em;
        }
    }

}

@media screen and (orientation:landscape) and (min-device-width: 25em) and (max-device-width: 60em) {
    .webWork {
        cursor: pointer;
        margin-left: 0vw;
        min-width: 5em;
        width: 40vw;
        position: absolute;
        overflow: hidden;
        padding: 1.25vw;
        margin-top: 3em;
        height: 26vw;

    }

    itemheading text imgblock {
        margin-top: -37vh;
        margin-left: 6vw;
    }

    blurb text {
        margin-bottom: 2vw;
    }

    .eRow2 {

        flex: 1 0 35%;
    }
    .row2 {

        flex: 1 0 35%;
    }

    .homeHeader {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: white;
        z-index: 999999;
        transition: ease all .7s;
        clip-path: initial;
        padding-left: 0vw;
        right: 0;
    }

    .formpos {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-right: 0;
        height: 100vh;
        width: 45vw;
        padding-left:10vw;
        padding-top:5vw;
        flex: 1 0 100%;
        background-color: #191919;
        clip-path: initial;
        /* overflow: hidden; */
    }

    .myForm {
      
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: scale(1);
        font-size: 2em;
        padding: 1em;
        background-color: #191919;
        border-radius: 0.2em;
        box-shadow: 0 0 0 #3333331e;
        formgrp {
            display: flex;
            width: 100%;
            justify-content: space-between;
            input {
                padding: 0.8em;
                border-bottom: thin none;
                width: 11em;
                font-size: 0.85em;
                margin-bottom: 1em;
                color: #cdcdcd;
                background-color: #222;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .message {
            height: 10vh;
            vertical-align: top;
            font-family: roboto;
            padding: 0.85em;
            font-size: 0.9em;
            background-color: #222;
            color: #cdcdcd;

        }
        .message:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .submit {
            font-size: 1.1em;
            padding: 0.4em 0.3em 0.3em;
            margin-top: 1em;
            color: #888;
            background-color: #222;

        }
    }


}

@media screen and (orientation:portrait) and (min-device-width: 30em) and (max-device-width: 87.5em) {

    .stageExp .description p::before {
        font-size: 1.6em;
        width: 50vw;
        padding: 0;
        margin-left: -8vw;
    }



    .scroll-downs {
        transform: scale(.8);
        position: absolute;
        bottom: 8vh;
        left: 25vw;
        margin: auto;

        width: 34px;
        height: 55px;
    }

    .hero .col {
        display: flex;
        flex: 1 0 20%;
        justify-content: flex-end;
    }

    .c2 {
        width: 50%;
    }

    .c1 {
        margin-left: 0;
        font-size: 0.95vw;
        flex-direction: column;
        align-items: center;
    }

    .header .hero .col .heroblock .heading {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .header .hero .col .heroblock h1 {
        margin-left: 0;
    }

    .header .hero .col .heroblock p {
        margin-left: 0;
    }

    .header .hero .col .heroblock h2 {
        margin-left: 0;
    }

    g#contact {
        transition: 2s;
        transform: translate(-21.5%, 19.9%) scale(0.7);
        clip-path: polygon(0 0, 95.5% 0, 84.6% 100%, 0% 100%);
    }

    g#contacttext {
        transform: translate(1em, 0);
    }

    #contact polygon:first-of-type {
        transition: 0.2s ease-in;
        transform: translate(0em, 0);
    }

    #contact:hover {
        transform: scale(.8);
        transform: translate(-21.5%, 19.9%) scale(0.7);
        transition: 0.8s ease-in-out;
        transform-origin: initial;
        cursor: pointer;
        filter: drop-shadow(0px 10px 5px black);
        opacity: 0.85;
    }

    .contactinfo {
        position: absolute;
        margin-bottom: 0;
        font-family: roboto;
        text-align: right;
        font-size: 1em;
        font-weight: 400;
        padding-left: 0;
        width: 67%;

        padding: 0.2em 1em 0.2em 0.2em;

        background-color: #ffffff;
        pointer-events: none;
        bottom: 0;
    }

    g#portfolio {
        transition: 2s;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg);

    }

    g#portfolio {
        clip-path: initial;
    }

    polygon#portfolioBlock {
        transform: translate(54%, 54.4%) scale(0.7) rotate(135.6deg) !important;

        clip-path: polygon(0 0, 80% 0, 77% 100%, 0% 100%);
    }

    g#portfolio > g > polygon {
        transition: 2s;
        transform: translate(55%, 55%) scale(.7) rotate(137.7deg);
    }

    #portfolio:hover {
        transform: scale(1);
        transition: 0.8s ease-in-out;
        transform-origin: inherit;
        cursor: pointer;
        opacity: 0.85;
        transform: translate(96.7%, 26%) scale(1) rotate(44deg) !important;
    }

    g#portfolio g path {
        transition: 2s;
        transform: translate(-30%, 44%) scale(0.7) rotate(-44.5deg);
    }

    g#cv polygon:nth-child(2) {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }

    g#cv g path {
        transition: 2s;
        transform: translate(22%, 26%) scale(0.67);
    }

    .header .hero .col .ui svg {
        height: 100vh;
        margin-bottom: -.5em;
        overflow: visible;
    }

    .homeHeader {
        padding-left: 0;
        right: 0;
        clip-path: initial;
        overflow: hidden;
    }

    .myForm {
        display: flex;
        flex-direction: column;
        width: 54%;
        transform: scale(1.5);
        font-size: 2em;
        padding: 1em;
        background-color: #191919;
        border-radius: 0.2em;
        box-shadow: 0 0 0 #3333331e;
        formgrp {
            display: flex;
            width: 100%;
            justify-content: space-between;
            input {
                padding: 0.8em;
                border-bottom: thin none;
                width: 11em;
                font-size: 0.85em;
                margin-bottom: 1em;
                color: #cdcdcd;
                background-color: #222;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .message {
            height: 10vh;
            vertical-align: top;
            font-family: roboto;
            padding: 0.85em;
            font-size: 0.9em;
            background-color: #222;
            color: #cdcdcd;

        }
        .message:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .submit {
            font-size: 1.1em;
            padding: 0.4em 0.3em 0.3em;
            margin-top: 1em;
            color: #888;
            background-color: #222;

        }
    }

    .navlist {
        margin-left: 0;
        padding-left: 0;
        width: 100vw;
        left: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        position: absolute;
        z-index: 9999;
        transition: 0.5s ease all;
        padding-top: 0.5em;
        background-color: #191919;
        padding-bottom: 0.5em;
        h2 {
            padding: 0.5em 1em;
            color: #bdbdbd;
            width: 8em;
            font-weight: 200;
            font-size: 0.65em;
            cursor: pointer;
            transition: ease all 0.5s;
            text-align: center;
            border-bottom: #222;
        }
    }

    .navlist.P {
        display: none;
        margin-right: 21em;
        width: initial;
        justify-content: flex-start;
    }
    .navlist {
        .zB {
            h2 {
                color: transparent !important;
            }
        }
    }

    .expHeading {
        margin-left: -3em;
        font-size: 2em;
    }

    .workHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .createHeading {
        font-size: 2em;
        margin-left: -3em;
    }

    .header .hero .col .heroblock {
        margin-left: 0;
        justify-content: flex-start;
        font-size: 1.1em;
        margin-top: 60vh;
        flex: 1 0 65%;
    }

    svg#Layer_1 {
        margin-right: -50vw;
        width: 198vw;
    }

    .blackBar {
        width: 100%;
        height: 100%;
        background-color: #191919;
        position: absolute;
        z-index: -1;
        bottom: 0;
    }

    .section {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .row1 {
        display: flex;
        flex: 1 0 99%;
        width: 100vw;
        height: 50%;
    }

    .webWork {
        cursor: pointer;
        margin-left: 0;
        min-width: 15em;
        width: 100vw;
        height: 70vw;
        margin-top: 0;
        overflow: hidden;
        /* padding: .7vw; */
        background-color: #191919;
        border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABAAAAATiCAYAAAAkkZEKAAAe50lEQ…AgQAAAAACAAAEAAAAAAnZmjkcD8Nq993N0qnbX/gLgrZn5ARhaHXn2JriRAAAAAElFTkSuQmCC") 500 fill/4vw/0.05em space;
        transition: ease all 1s;
    }


    .stageExp .heading {
        height: 3.8em;
    }

    .WorkHero .col {
        display: flex;
        flex: 1 0 85%;
        justify-content: flex-end;
        transition: ease all 1s;
        font-size: 0.6em;
    }

    .WorkHero .col .heroblock {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        flex: 1 0 60%;
        margin-top: 13vh;
        font-size: 1.5vw;
        cursor: pointer;
        margin-left: 0;
    }

    .col.c2.colBlack {
        display: flex;
        flex: 1 0 95%;
        justify-content: flex-end;
        height: 100vh;
        transition: ease all 1s;
        width: 35vw;
        right: 0;
        opacity: 0.07;
        z-index: 0;
        clip-path: initial;
        position: absolute;
        font-size: 0.5em;
        display:none;
    }


    .eRow1 {
        display: flex;
        flex: 1 0 99%;
        width: 100vw;
        height: 100%;
        align-items: center;
        .eText {
            text {
                flex: 0 0 73%;
                font-size: 0.5em;
                color: #333;
                padding: 1.5em;
                margin: 1em;

            }
        }
    }

    .eRow2 {
        display: flex;
        flex: 1 0 0;
        width: 100vw;
        height: 0;
        itemheading {
            z-index: 6666;
            text {
                font-size: 0.5em;
            }
        }
    }

    .eRow2 {

        z-index: 99;
    }



    .cTwoExp {
        display: flex;
        flex: 1 0 20%;
        margin-top:20vh;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 0;
        margin-left: 3vw;
        .eText {
            flex: 0 1 25% !important;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            margin-bottom: 12vh;
            text {
                color: #191919;
            }
        }
    }

    .cSection {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .cRow1 {
        justify-content: center;
        align-items: flex-end;
        flex: 1 0 20%;
        text {
            color:black;
        }
    }


    .formpos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0;
        height: 100%;
        width: 100vw;
        padding-left: 0;
        flex: 1 0 100%;
        background-color: #ffffff;
        clip-path: initial;
        /* overflow: hidden; */
    }

    .myForm {
        display: flex;
        flex-direction: column;
        width: 55%;
        transform: scale(1.7);
        font-size: 2em;
        padding: 1em;
        background-color: #191919;
        border-radius: 0.2em;
        box-shadow: 0 0 0 #3333331e;
        formgrp {
            display: flex;
            width: 100%;
            justify-content: space-between;
            input {
                padding: 0.8em;
                border-bottom: thin none;
                width: 11em;
                font-size: 0.85em;
                margin-bottom: 1em;
                color: #cdcdcd;
                background-color: #222;
            }
        }

        input:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .message {
            height: 10vh;
            vertical-align: top;
            font-family: roboto;
            padding: 0.85em;
            font-size: 0.9em;
            background-color: #222;
            color: #cdcdcd;

        }
        .message:focus {
            outline-offset: -2px;
            outline: -webkit-focus-ring-color auto 0;
        }
        .submit {
            font-size: 1.1em;
            padding: 0.4em 0.3em 0.3em;
            margin-top: 1em;
            color: #888;
            background-color: #222;

        }
    }

    .heroblock.stageExp {
        margin-left: 20vw !important;
        width:80%;
    }

    .headerTransExp {
        margin-left: 0 !important;
        transition: ease all 1s;
        background-color: #191919;
        flex: 1 0 62% !important;
        -webkit-clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .eRow1 {
        blurb {
            text {
                position: relative;
            }
        }
    }

    itemheading block h1 {
        font-size: 2em;
        font-weight: 300;
        margin-top: -0.93em;
        margin-left: -6vw;
    }
    text.skills1 h1 {
        font-size: 0.8em;
        font-weight: 100;
        margin-left: -8em;
        display: none;
    }

    text.skills h1 {
        font-size: 0.8em;
        font-weight: 100;
        margin-left: 7em;
        display: none;
    }



}
