
.navMenu {
  width: 0em;
  height:97vh;
  margin-left: 0;
  padding-left: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  z-index: 9999;
  transition: 0.5s ease all;
      .progressNav {
          margin-top:2.5em;
      ul {
              
              h3 {
                  font-size:1em;
                  margin:.5em 0em;
                  font-weight: 300;
                  line-height: 1;
              }
              li {
                  margin-left:.7em;
                  line-height: 2;
                  font-size:.9em;
              }
          }
  }

}


.navCols {
    display: flex;
    width: 100%;
    align-self: center;
    padding-right: 15vw;
    height: 63vh;
    .navC1 {
        display: flex;
        flex: 1 0 33%;
        border-left: solid thin #cdcdcd;
    }
    .navC2 {
        display: flex;
        flex: 1 0 33%;
        border-left: solid thin #cdcdcd;
    }
    .navC3{
        display: flex;
        flex: 1 0 33%;
        border-left: solid thin #cdcdcd;
        border-right: solid thin #cdcdcd;
    }
}


$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

/* Basic Styles */
// a.nav-item.plink {
//     line-height: 1 !important;
//     padding: .5em !important;
//     height: 1.2em !important;
//     margin: 0 !important;
//     font-size: .7em;
//     color: #111111 !important;
// }


.mobNavContainer {
  position: relative;
  width: 10em;
  height: 14em;
  overflow: hidden;
}

/* Toggle Functionality */

#toggle {
  display: none; //hides the checkbox
}


// Styles for the 'open' state, if the checkbox is checked
#toggle:checked {

  //Any element you need to change the style if menu is open goes here, using the sibling selector (~)
  & ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba( 0, 0, 0, 0), inset 0 0 0 20px rgba( 0, 0, 0, 0.0);

    &:before {
      transform: translateY(-50%) rotate(45deg) scale(1);
      
    }

    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(1);
    }
  }

  // Open Nav
  & ~ .nav {
    margin-bottom: 100px;
    pointer-events: auto;
    padding: 4vh 2em 2em 1.8em;

    // Restoring nav items from 'lines' in the menu icon
    .nav-item {
      
      color:#7c7c7c;
      letter-spacing: 0;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      opacity: 1;
      transform: scaleY(1);
      transition: $transition-duration, opacity 0.1s;


      // Setting delays for the nav items in open transition
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          $delay: ($items - $i) * $transition-delay;
          transition-delay: $delay;
          &:before {
            transition-delay: $delay;
          }
        }
      }

      // Hide the lines
      &:before {
        opacity: 0;
      }
    }
  }

  & ~ .dummy-content {
    padding-top: 30px;

    &:before {
      background-color: rgba(0, 0, 0, 0.0);
    }
  }
}

/* Toggle Button */

.button-toggle {
  position: absolute;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: $transition-duration + 0.1;

  // Shadow on Hover
  &:hover {

   box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.0), inset 0 0 0 20px rgba(0, 0, 0, 0.0);
  }

  // Making the 'X' icon using `:before` and `:after` pseudo-elements
  // Initially hidden beause of `scale(0)` transformation

  &:before, &:after {
    position: absolute;
    content: '';
    top: 20%;
    left: 10%;
    width: 50%;
    height: 1px;
    background-color: #7c7c7c;
    border-radius: 5px;
    transition: $transition-duration;

  }

  &:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }

  &:after {
    transform: translateY(50%) rotate(-45deg) scale(0);
  }
}

/* Menu */

.nav {
    display: inline-block;
    padding: 2vh 2em 1.8em 2em;
    pointer-events: none;
    // background-color: black;
    transition: $transition-duration;
    
}

// Showing nav items as lines, making up the hamburger menu icon
.nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -5.2px;
  height: 9px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);

  transition: $transition-duration, opacity 1s;
 

  //Set delays for the nav items in close transition
  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      $delay: ($i - 1) * $transition-delay;
      transition-delay: $delay;
      &:before {
        transition-delay: $delay;
      }
    }
  }

  // Adjusting width for first line
  &:nth-child(1) {
    letter-spacing: -6.5px;
  }

  // Adjusting width for second line
  &:nth-child(2) {
    letter-spacing: -4.5px;
  }

  // Adjusting the fourth element onwards
  &:nth-child(n + 4) {
    letter-spacing: -4.7px;
 
    opacity: 1;
  }

  //getting lines for the hamburger menu icon
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7c7c7c;
    transform: translateY(-50%) scaleY(5);
    transition: $transition-duration;
  }
}


.workLine {
    height: 95vh;
    position: absolute;
    // border-right: thin solid #eaeaea;
    // box-shadow: 1em 0em 1em 1em #11111112;
    left: 49vw;
    transform:rotate(10deg)
}

.workLineCorner {
  height: 3em;
  position: absolute;
  top: 91vh;
  font-size: 1em;
  left: -4em;
  font-size: .5em;
  transform: rotate(10deg);
  img {
    width:4em;
  }
}

.workLine.workLineCorner .viewWork {
  background-image: linear-gradient(to right, #f1f1f1, #ffffff);
  box-sizing: inherit;
}

.workLine.workLineCorner .viewWorkGradient {
  background-image: linear-gradient(to right, #a0a0a0, #414141);
  
}

.viewWork {
    position: absolute;
    bottom: .70em;
    width: 12em;
    display: flex;
    flex-direction: row;
    transform: rotate(-10deg) skewX(-10deg);
    background-image: linear-gradient(to right, #111111, #131313, #151515, #161616, #181818, #191919, #1a1a1a, #1b1b1b, #1b1b1b, #1c1c1c, #1c1c1c, #1d1d1d);
    border-radius: .3em;
    transition: ease all 2s;
    z-index: 9999999;
    text-align: center;
    justify-content: center;
    img {
        padding: .8em;
        padding-left:4em;
    }
    .viewWorkGradient {

        transition:ease all 2s;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity:0;
        border-radius: 0 .3em .3em  0;
        margin-bottom:1px;
    }
    h3 {

        padding:1em;
        font-size:1.5em;
        font-weight:500;
        color:#ffffff;
        border-bottom:solid thin #c4c4c4;
    }
}
.viewWorkGradient:hover {

    position: absolute;
    width: 100%;
    opacity:1;
    background-image: linear-gradient(to right, #111111, #291f32, #4c284e, #782b61, #a9276a, #c41e66, #dd155e, #f31352, #f81144, #fc1734, #fe2121, #fe2e00);
}
.viewWork:hover {
    cursor: pointer;
}