
.pWrap {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    scroll-behavior: smooth;
}

.work {
    display: flex;
    width: 75vw;
    height: 100%;
    flex-direction: column;

}

.pSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}




.row1 {
    display: flex;
    flex: 1 0 65%;
    width: 70vw;
    height: 65%;
}
.row2 {
    display: flex;
    flex: 1 0 25%;
    width: 70vw;
    background-color: rgb(25, 25, 25);
    height: 35%;
}

.blackBar {
    width: 100%;
    height: 30%;
    background-color: #191919;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.navMenu {
    margin-left: 0;
    padding-left: 7vw;
    width: 93vw;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 9999;
    background-color: #ffffff;
    transition: 0.5s ease all;
}


.navlist {
    margin-left: 0;
    padding-left: 7vw;
    width: 40em;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 9999;
    transition: 0.5s ease all;
    padding-top: 0.5em;
    h2 {
        padding: 0.5em 1em;

        color: #333;
        width: 8em;
        font-weight: 200;
        font-size: 1.2em;
        cursor: pointer;
        transition: ease all 0.5s;
        text-align: center;
        border-bottom: #222;
    }
    h2:nth-child(1):hover {
        background-color: #f3f3f3;
        // border-bottom:#9a3156 thin solid;

    }

    h2:nth-child(2):hover {
        background-color: #f3f3f3;
        // border-bottom:#9a3156 thin solid;
    }
    h2:nth-child(3):hover {
        background-color: #f3f3f3;
        // border-bottom:#44678c thin solid;
    }
    h2:nth-child(4):hover {
        background-color: #f3f3f3;
        // border-bottom:#b38539 thin solid;
    }

}

.navlist.P {
    margin-right: 29em;
    width: initial;
    justify-content: flex-start;
}
.navlist {
    .zB {
        h2{
        color:transparent !important;
        }
    }
}



blurb {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    block {
        display: flex;
        flex: 0 0 57%;
    }

    text {
        display: flex;
        flex: 0 0 35%;
        padding-left: 3em;
        padding-right: 4vw;
        font-size: 0.8vw;
        color: #191919;
        font-weight: 200;
        flex-direction: column;
        margin-bottom: 4vw;

        p {
            font-size: 1em;
            padding-bottom: 0.5em;
            font-weight: 300;
        }

        h1 {
            font-size: 1.75em;
            font-weight: 300;
            padding-bottom: 0.25em;
        }

        img {
            width: 10em;
            padding: 2em;
        }
    }
}

itemheading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;

    block {
        display: flex;
        flex-direction: column;
        flex: 0 0 57%;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        p {

            color: #cdcdcd;
        }
        h1 {
            font-size: 3vw;
            font-weight: 300;
            margin-top: -0.93em;
            margin-left: -6vw;
            color: #191919;
        }
    }

    text {
        display: flex;
        flex: 0 0 30%;
        padding-left: 3em;
        padding-right: 10em;
        font-size: 1.3em;
        color: #cdcdcd;
        font-weight: 200;
        flex-direction: column;

        imgblock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-image: url("assets/border.png") 200 fill / 3.95em / 0.0em space;
            height: 8vw;
            width: 8vw;
            margin-top: -7.5vw;
            padding: 1vw 1.5vw;
            box-shadow: 1em 0 4em #3333331e;
            img {
                width: 8vw;
                background-color: white;
            }
        }
        p {
            padding: 1em 0.2em 0.2em;
        }
        h1 {
            font-size: 2.5em;
            font-weight: 300;
            color: #111;
            margin-top: -.93em;
        }
    }
}

.webWork {
    cursor: pointer;
    box-shadow: 1em 0 4em #33333338;
    margin-left: 10vw;
    min-width: 15em;
    width: 25vw;
    height: 65%;
    margin-top: 10em;
    position: absolute;
    overflow: hidden;
    padding: 1.25vw;
    background-color: white;
    border-image: url("assets/border.png") 500 fill / 8vw / 0.05em space;
}

.webImage {

    height: 100%;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.mj {
    background-image: url("assets/mj-site.jpg");
}

.tens {
    background-image: url("assets/10squares-site.jpg");
}

.gubba {
    background-image: url("assets/gubba-site.jpg");
}

.py {
    background-image: url("assets/py-site.jpg");
}

.heli {
    background-image: url("assets/helib-site.jpg");
}

.mglogo {
    background-image: url("assets/mangawhai-fm.jpg");
}

.cc {
    background-image: url("assets/cc-work.jpg");
}

.autposter {
    background-image: url("assets/aut-poster.jpg");
}

.gcpackage {
    background-image: url("assets/goodcoffee.jpg");
}

.renders {
    background-image: url("assets/13renders.jpg");
}

text.skills {
    margin-left: 56.5vw;
    width: 25em;
    position: absolute;
    h1 {
        font-size: 1.4vw;
        font-weight: 300;
        color: #191919;
    }
}

text.skills1 {
    margin-left: 40vw;
    position: absolute;
    width: 25em;
    h1 {
        font-size: 1.4vw;
        font-weight: 300;
        color: #191919;
    }
}

.mgLogoBlock {
    margin-top: -5.5vw;
    padding: 0.2vw 1vw;
}

.tensC {
    color: #1f829c;
}


// misc

// .rSpace {
//     width: 41vw;
// }