
.pWrap {
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    scroll-behavior: smooth;
}

.HomeHeaderSection {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.homeHeader {
    transition:ease all .7s;
}


.above {
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: white;
}


.vAbove {
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: #191919;
}

.vScroller {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    .pSection {
        transform:rotate(0deg);
        transform-origin: top left;
    }
}

.pageScroller {
    overflow: hidden;
}

.work {
    display: flex;
    width: 75vw;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}



.pSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}




.row1 {
    display: flex;
    flex: 1 0 50%;
    width: 50vw;
}
.row2 {
    width: 50vw;
    flex: 1 0 30%;
    justify-content: flex-start;
    align-items: center;
    margin-top:7em;
    padding:0em 3em 0em 3em;
    .brand {
        display:flex;
        justify-content: space-around;
        font-size:.5vw;
        .logoLines {
            padding:3em;
            background-color: #191919;
            border-image: inherit;
            border-radius: .3em;
        }

        .logoContainer {
            width: 12vw;
            height: 12vw;

            img {
                width: 70%;
               
                object-fit: cover; /*magic*/
                border-image: url("assets/border.png") 500 fill / 7em / 0em space;
                padding:3em;
                display: block;
                // width: auto;
                // height: auto;
            }
        }

    }
}

.blackBar {
    width: 100%;
    height: 100%;
    background-color: #191919;
    position: absolute;
    z-index: -2;
    bottom: 0;
}

.blackRow {
    width: 100%;
    height: 30%;
    background-color: #191919;
    position: absolute;
    z-index: -2;
    bottom: 0;
}

.navMenu {
    margin-left: 0;
    padding-left: 7vw;
    width: 93vw;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 9999;

    transition: 0.5s ease all;
}


.navlist {
    margin-left: 0;
    padding-left: 4vw;
    width: 30em;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 9999;
    transition: 0.5s ease all;
    padding-top: 0.5em;
    transition: ease all 0.5s;
    h2 {
        padding: 1em 1em 0em 1em;
        color: #949494;
        width: 6em;
        font-weight: 300;
        font-size: 1em;
        cursor: pointer;
        transition: ease all 0.5s;
        text-align: center;
        border-bottom: #222;
        transition: ease all 0.5s;
    }
    h2:nth-child(1):hover {

        border-bottom:#949494 thin solid;
        transition: ease all 0.5s;
    }

    h2:nth-child(2):hover {

        border-bottom:#9a3156 thin solid;
        transition: ease all 0.5s;
    }
    h2:nth-child(3):hover {
  
        border-bottom:#44678c thin solid;
        transition: ease all 0.5s;
    }
    h2:nth-child(4):hover {
     
        border-bottom:#b38539 thin solid;
        transition: ease all 0.5s;
    }

}

.navlist.P {
    margin-left: 0em;
    width: initial;
    justify-content: flex-start;
    transition: ease all 0.5s;
    width:10em;
    > h2 {
        background-color:#191919;
        transition: ease all 0.5s;
    }
}




.navlist {
    .zB {
        h2{
        color:transparent !important;
        }
    }
}



blurb {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    block {
        display: flex;
        flex: 0 0 57%;
    }

    text {
        display: flex;
        flex: 0 0 35%;
        padding-left: 3em;
        padding-right: 4vw;
        font-size: 0.8vw;
        color: #191919;
        font-weight: 200;
        flex-direction: column;
        margin-bottom: 4vw;

        p {
            font-size: 1.15em;
            padding-bottom: 0.5em;
            font-weight: 300;
        }

        h1 {
            font-size: 2em;
            font-weight: 300;
            padding-bottom: 0.25em;
        }

        img {
            width: 10em;
            padding: 2em;
        }
    }
}

itemheading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;

    block {
        display: flex;
        flex-direction: column;
        flex: 0 0 57%;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        p {

            color: #cdcdcd;
        }
        h1 {
            font-size: 3vw;
            font-weight: 700;
            margin-top: -0.90em;
            margin-left: -10vw;
            color: #191919;
        }
    }

    text {
        display: flex;
        flex: 0 0 30%;
        // padding-left: 3em;
        // padding-right: 10em;
        color: #cdcdcd;
        font-weight: 200;
        flex-direction: column;
        p {
            padding: 1em 0.2em 0.2em;
        }
        h1 {
            font-size: 2.5em;
            font-weight: 300;
            color: #111;
            margin-top: -.93em;
        }
    }
}

.webWorkTilt {
    width: 40vw;
    height: 27vw;
    z-index: 9999;
}
.webWorkMobileTilt {
    position: absolute;
}


.webWork:hover {
    box-shadow:1em .3em 2em .4em rgba(0, 0, 0, 0.15);
}

.webWorkMobile:hover {
    box-shadow:1.4em .6em 4em .6em rgba(0, 0, 0, 0.15);
}
.webWork {
    box-shadow:.5em .3em 1em .2em rgba(0, 0, 0, 0.25);
    font-size:.7vw;
    cursor: pointer;
    margin-left: 0vw;
    min-width: 15em;
    width: 45vw;
    height: 30vw;
    margin-top: 0vw;
    // position: absolute;
    padding: 1.9em;
    background-color: #191919;
    // border-image: url("assets/border.png") 500 fill / 5em / 1em space;
    border-radius: 2em;
    transition:ease all 1s;

    .webWorkInner {
        overflow: hidden;
        overflow-y:scroll;
        width: 45vw;
        height: 30vw;
        border-radius: .3em;
    }
    
    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

.webWorkMobile {
    box-shadow:.7em .6em 2em .4em rgba(0, 0, 0, 0.25);
    font-size:.6vw;
    cursor: pointer;
    margin-left: 0vw;
    min-width: 10em;
    width: 18em;
    height: 32em;
    padding: 4.24em  1em 5em 1em;
    margin-top: -17vw;
    right: -11em;
    position: absolute;
    background-image: url("assets/mobile.png");
    background-size:cover;
    border-radius: 3em;

    // background-color: #191919;
    // border-image: url("assets/border.png") 500 fill / 5em / 1em space;

    transition:ease all 1s;

    .webWorkInner {
        border-bottom:2px solid black;
        overflow: hidden;
        overflow-y:scroll;
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }
    
    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

.printWork {
    cursor: pointer;
    margin-left: 0vw;
    min-width: 15em;
    width: 44vw;
    height: 27vw;
    margin-top: 2vw;
    overflow: hidden;
    transition: ease all 1s;

    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

.item1 {
    transform:scale(.7);
    cursor: pointer;

}

// .webWork:hover {
//     box-shadow: 0em 0 4em #33333338;
// }

// .c2 {
//     background-image: url("assets/groovepaper.png");
// }

.webImage {

    height: 100%;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.printImage {

    height: 100%;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
}


.mj {
    background-image: url("assets/mj-site.jpg");
    height: 105em;
}


.mj-m {
    background-image: url("assets/mj-m-site.jpg");
    height: 170em;
}



.tens {
    background-image: url("assets/10squares-site.jpg");
    height: 350em;
}

.tens-m {
    background-image: url("assets/10squares-site-mobile.jpg");
    height: 235em;
}

.inapp-m {

}

.inapp-mobile {
    width:100%;
    height:100%;
    font-size: 0.8em;
}

.tablet {
    width: 22vw;
    height: 30vw;
}

.wrap.container {

    font-size: 0.8em;

}

.gubba {
    background-image: url("assets/gubba-site.jpg");
}

.py {
    background-image: url("assets/py-site.jpg");
}

.heli {
    background-image: url("assets/helib-site.jpg");
}

.mglogo {
    background-image: url("assets/mangawhai-logo-1.png");
}

.cc {
    background-image: url("assets/cc-work.jpg");
}

.autposter {
    background-image: url("assets/aut-poster.jpg");
}

.gcpackage {
    background-image: url("assets/goodcoffee.jpg");
}

.renders {
    background-image: url("assets/13renders.jpg");
}

text.skills {
    margin-left: 8vw;
    width: 34vw;
    position: absolute;
    h1 {
        font-size: 1.8vw;
        font-weight: 700;
        color: #191919;
        margin-bottom: .4em;
    }
    p {
        padding-top:.5em;
        line-height: 1.4em;
        font-weight: 300;
        color:#bbbbbb;
        font-size: .9vmax;

    }
}

text.skills1 {
    margin-left: 10vw;
    position: absolute;
    width: 34vw;
    h1 {
        font-size: 1.8vw;
        font-weight: 700;
        color: #191919;
        margin-bottom: .5em;
    }
    p {
        padding-top:.2em;
    }
}

.mgLogoBlock {
    margin-top: -5.5vw;
    padding: 0.2vw 1vw;
}

.tensC {
    color: #1f829c;
}


// misc

// .rSpace {
//     width: 41vw;
// }