
.pWrap {
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    scroll-behavior: smooth;
}


.above {
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: white;
}

.vScroller {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);

    .pSection {
        transform:rotate(0deg);
        transform-origin: top left;
    }
}

.work {
    display: flex;
    width: 75vw;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}



.pSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}




.row1 {
    display: flex;
    flex: 1 0 99%;
    width: 52vw;
    height: 65%;
}
.row2 {
    width: 52vw;
    background-color: rgb(25, 25, 25);
    height: 0;
}

.blackBar {
    width: 100%;
    height: 100%;
    background-color: #191919;
    position: absolute;
    z-index: -2;
    bottom: 0;
}

.blackRow {
    width: 100%;
    height: 30%;
    background-color: #191919;
    position: absolute;
    z-index: -2;
    bottom: 0;
}

.navMenu {
    margin-left: 0;
    padding-left: 7vw;
    width: 93vw;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 9999;

    transition: 0.5s ease all;
}


.navlist {
    margin-left: 0;
    padding-left: 7vw;
    width: 40em;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 9999;
    transition: 0.5s ease all;
    padding-top: 0.5em;
    transition: ease all 0.5s;
    h2 {
        padding: 0.5em 1em;
        color: #949494;
        width: 8em;
        font-weight: 300;
        font-size: 1.2em;
        cursor: pointer;
        transition: ease all 0.5s;
        text-align: center;
        border-bottom: #222;
        transition: ease all 0.5s;
    }
    h2:nth-child(1):hover {

        border-bottom:#949494 thin solid;
        transition: ease all 0.5s;
    }

    h2:nth-child(2):hover {

        border-bottom:#9a3156 thin solid;
        transition: ease all 0.5s;
    }
    h2:nth-child(3):hover {
  
        border-bottom:#44678c thin solid;
        transition: ease all 0.5s;
    }
    h2:nth-child(4):hover {
     
        border-bottom:#b38539 thin solid;
        transition: ease all 0.5s;
    }

}

.navlist.P {
    margin-left: 0em;
    width: initial;
    justify-content: flex-start;
    transition: ease all 0.5s;
    width:10em;
    > h2 {
        background-color:#191919;
        transition: ease all 0.5s;
    }
}




.navlist {
    .zB {
        h2{
        color:transparent !important;
        }
    }
}



blurb {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    block {
        display: flex;
        flex: 0 0 57%;
    }

    text {
        display: flex;
        flex: 0 0 35%;
        padding-left: 3em;
        padding-right: 4vw;
        font-size: 0.8vw;
        color: #191919;
        font-weight: 200;
        flex-direction: column;
        margin-bottom: 4vw;

        p {
            font-size: 1.15em;
            padding-bottom: 0.5em;
            font-weight: 300;
        }

        h1 {
            font-size: 2em;
            font-weight: 300;
            padding-bottom: 0.25em;
        }

        img {
            width: 10em;
            padding: 2em;
        }
    }
}

itemheading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;

    block {
        display: flex;
        flex-direction: column;
        flex: 0 0 57%;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        p {

            color: #cdcdcd;
        }
        h1 {
            font-size: 3vw;
            font-weight: 700;
            margin-top: -0.90em;
            margin-left: -10vw;
            color: #191919;
        }
    }

    text {
        display: flex;
        flex: 0 0 30%;
        // padding-left: 3em;
        // padding-right: 10em;
        color: #cdcdcd;
        font-weight: 200;
        flex-direction: column;

        imgblock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-image: url("assets/border.png") 200 fill / 3.95em / 0.0em space;
            height: 8vw;
            width: 8vw;
            margin-top: -18vw;
            margin-left: 4.5vw;
            padding: 1vw 1.5vw;
            box-shadow: 1em 0 4em #3333331e;
            z-index:99;
            img {
                width: 8vw;
                background-color: white;
            }
        }
        p {
            padding: 1em 0.2em 0.2em;
        }
        h1 {
            font-size: 2.5em;
            font-weight: 300;
            color: #111;
            margin-top: -.93em;
        }
    }
}

.webWork {
    cursor: pointer;
    margin-left: 0vw;
    min-width: 15em;
    width: 40vw;
    height: 27vw;
    margin-top: 2vw;
    overflow: hidden;
    padding: .7vw;
    background-color: #191919;
    border-image: url("assets/border.png") 500 fill / 4vw / 0.05em space;
    transition:ease all 1s;

    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

.printWork {
    cursor: pointer;
    margin-left: 0vw;
    min-width: 15em;
    width: 40vw;
    height: 27vw;
    margin-top:2vw;
    // position: absolute;
    overflow: hidden;
    padding: .7vw;
    background-color: #111;
    border-image: url("assets/border.png") 500 fill / 4vw / 0.05em space;
    transition:ease all 1s;

    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

// .webWork:hover {
//     box-shadow: 0em 0 4em #33333338;
// }



.webImage {

    height: 100%;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.mj {
    background-image: url("assets/mj-site.jpg");
}

.tens {
    background-image: url("assets/10squares-site.jpg");
}

.gubba {
    background-image: url("assets/gubba-site.jpg");
}

.py {
    background-image: url("assets/py-site.jpg");
}

.heli {
    background-image: url("assets/helib-site.jpg");
}

.mglogo {
    background-image: url("assets/mangawhai-fm.jpg");
}

.cc {
    background-image: url("assets/cc-work.jpg");
}

.autposter {
    background-image: url("assets/aut-poster.jpg");
}

.gcpackage {
    background-image: url("assets/goodcoffee.jpg");
}

.renders {
    background-image: url("assets/13renders.jpg");
}

text.skills {
    margin-left: 8vw;
    width: 34vw;
    position: absolute;
    h1 {
        font-size: 1.8vw;
        font-weight: 700;
        color: #191919;
        margin-bottom: .4em;
    }
    p {
        padding-top:.5em;
        line-height: 1.4em;
        font-weight: 300;
        color:#bbbbbb;
        font-size: .9vmax;

    }
}

text.skills1 {
    margin-left: 10vw;
    position: absolute;
    width: 34vw;
    h1 {
        font-size: 1.8vw;
        font-weight: 700;
        color: #191919;
        margin-bottom: .5em;
    }
    p {
        padding-top:.2em;
    }
}

.mgLogoBlock {
    margin-top: -5.5vw;
    padding: 0.2vw 1vw;
}

.tensC {
    color: #1f829c;
}


// misc

// .rSpace {
//     width: 41vw;
// }