
.pWrap {
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    scroll-behavior: smooth;
    
}

.HomeHeaderSection {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.homeHeader {
    transition:ease all .7s;
}


.above {
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: white;
}


.vAbove {
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: #191919;
}
.workSection {
    overflow-x:hidden;
}



.vScroller {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    .sectionState {
        // transition: all .7s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    }
    
}

.pageScroller {
    overflow: hidden;
}

.work {
    display: flex;
    width: 75vw;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}


.WorkHero {
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    position: absolute;
    pointer-events: none;
    .col {
        display: flex;
        // align-items: stretch;
        flex: 1 0 50%;
        justify-content: flex-end;
        transition: ease all 1s;
        .heroblock {
            width: 35vw;
            justify-content: center;
            display: flex;
            flex-direction: column;
            flex: 0 0 70%;
            justify-content: flex-start;
            margin-top: 5em;
            font-size: 1em;
            cursor: pointer;
            background-image: initial;

            .heading {
                display: flex;
                align-items: center;
                background-image:inherit;

                height: 3em;
                overflow:hidden;
                border-bottom:1px solid rgba(250, 250, 250, 1);
                margin-bottom:.7em !important;

                h1 {
                    font-size:3.7em;
                    line-height: 1em;
                    font-weight: 900;
                    margin-left: 0em;
                    margin-top: 0.15em;
                    margin-bottom:0em;
                    color: #424242;
                    width: auto;
                    overflow:hidden;
                    text-align:left;
                }

                img {
                    height: 13.6em;
                }
                svg {
                    height: 14em;
                    width: 11.91em;
               }
            }

            .workDone {
                background-image:initial;
                h2 {
                    
                    font-size: 1em;
                    // padding:.7em 1em;
                    // background-color: #ebebeb;
                    font-weight: 300;
                    font-style: normal;
                    color: #dcdcdc;
                    width: fit-content;
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                    margin-left: 3em;
                    line-height: 1.2;
                    font-weight:400;
                    border-bottom:thin solid #dcdcdc;
                    // clip-path: polygon(0 0, 9em 0, 100% 100%, 0% 100%);   
                }
            }

            .description {
                background-image:initial;
                padding-top:.5em;
                p {
                    font-weight: 300;
                    line-height:1.5;
                    font-size: 1em;
                    color: rgba(0,0,0,0.57);
                    width: 36em;
                    margin-left: 3em;
                    margin-bottom:.5em;
                    color: #dcdcdc;
    
                }
            }

        }
        .ui {
            height: 100vh;
            overflow: visible;
            position: fixed;
            z-index: 999;
            svg {
                height: 100vh;
                margin-bottom: -.5em;
                overflow: visible !important;
            }
        }
    }
}


.section {
    height: 100vh;
    width: 52vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // background-image: url("assets/groovepaper.png");
}
.slashBg {
    height: 180vh;
    left: 44vw;
    bottom: 0;
    // z-index: -1;
    clip-path: polygon(0 0, 11vw 0, 0% 100%, 0 100%);
    width: 295px;
    position: absolute;
    background-color: white;
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    background-image: url("assets/groovepaper.png");
}

.row1 {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1 0 90%;
    justify-content: center;
    align-items:center;
}
.row2 {
    display:none;
    width: 100%;
    flex: 1 0 10%;
    justify-content: flex-start;
    align-items: center;

    .brand {
        display: flex;
        justify-content: space-evenly;
        font-size: .5vw;
        height: 100%;
        align-items: center;
        width: 100%;
        margin-left: 0%;
        .logoLines {
            padding:3em;
            background-color: #191919;
            border-image: inherit;
            border-radius: .3em;
        }

        .logoContainer {
            width: 9vw;
            // height: 8vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height:100%;
                object-fit: cover; 
                // border-image: url("assets/border.png") 500 fill / 7em / 0em space;
                padding:0em;
                display: block;
                // width: auto;
                // height: auto;
            }
        }

    }
}

.blackBar {
    width: 100%;
    height: 100%;
    background-color: #191919;
    position: absolute;
    z-index: -2;
    bottom: 0;
}

.blackRow {
    width: 100%;
    height: 30%;
    background-color: #191919;
    position: absolute;
    z-index: -2;
    bottom: 0;
}

a.nav-item.plink {
    line-height: 1 !important;
    padding: .5em !important;
    height: 1.2em !important;
    margin: 0 !important;
    font-size: .7em;
    color: #111111 !important;
}

.navMenu {
    margin-left: 0;
    padding-left: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    transition: 0.5s ease all;
        .progressNav {
            margin-top:2.5em;
        ul {
                
                h3 {
                    font-size:1em;
                    margin:.5em 0em;
                    font-weight: 300;
                    line-height: 1;
                }
                li {
                    margin-left:.7em;
                    line-height: 2;
                    font-size:.9em;
                }
            }
    }

}

.eText {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    block {
        display: flex;
        flex: 0 0 57%;
    }

    text {
        display: flex;
        flex: 0 0 35%;
        padding-left: 3em;
        padding-right: 4vw;
        font-size: 0.8vw;
        color: #191919;
        font-weight: 200;
        flex-direction: column;
        margin-bottom: 4vw;

        p {
            font-size: 1.15em;
            padding-bottom: 0.5em;
            font-weight: 300;
        }

        h1 {
            font-size: 2em;
            font-weight: 300;
            padding-bottom: 0.25em;
        }

        img {
            width: 10em;
            padding: 2em;
        }
    }
}

itemheading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;

    block {
        display: flex;
        flex-direction: column;
        flex: 0 0 57%;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        p {

            color: #cdcdcd;
        }
        h1 {
            font-size: 3vw;
            font-weight: 700;
            margin-top: -0.90em;
            margin-left: -10vw;
            color: #191919;
        }
    }

    text {
        display: flex;
        flex: 0 0 30%;
        // padding-left: 3em;
        // padding-right: 10em;
        color: #cdcdcd;
        font-weight: 200;
        flex-direction: column;
        p {
            padding: 1em 0.2em 0.2em;
        }
        h1 {
            font-size: 2.5em;
            font-weight: 300;
            color: #111;
            margin-top: -.93em;
        }
    }
}

.webWorkTilt {
    width: 40vw;
    height: 27vw;
    z-index: 9;

}


.webWorkMobileTilt {
    z-index: 9;
    position: absolute;
}


.webWork:hover {
    box-shadow:1em .3em 2em .4em rgba(0, 0, 0, 0.15);
    transform:translateX(-7vw);
}

.webWorkMobile:hover {
    box-shadow:1.4em .6em 4em .6em rgba(0, 0, 0, 0.15);
    
}
.webWork {
    
    box-shadow:.5em .3em 1em .2em rgba(0, 0, 0, 0.25);
    font-size:.7vw;
    cursor: pointer;
    margin-left: 0vw;
    min-width: 15em;
    width: 45vw;
    height: 30vw;
    margin-top: 0vw;
    // position: absolute;
    padding: 1.9em;
    background-color: #191919;
    // border-image: url("assets/border.png") 500 fill / 5em / 1em space;
    border-radius: 2em;
    transition:ease all 1s;

    .webWorkInner {
        overflow: hidden;
        overflow-y:scroll;
        width: 45vw;
        height: 30vw;
        border-radius: .3em;
    }
    
    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

.webWorkMobile {
    
    box-shadow:.7em .6em 2em .4em rgba(0, 0, 0, 0.25);
    font-size:.6vw;
    cursor: pointer;
    margin-left: 0vw;
    min-width: 10em;
    width: 18em;
    height: 32em;
    padding: 4.24em  1em 5em 1em;
    margin-top: 10.5vw;
    right: -10em;
    position: absolute;
    background-image: url("assets/mobile.png");
    background-size:cover;
    border-radius: 3em;

    // background-color: #191919;
    // border-image: url("assets/border.png") 500 fill / 5em / 1em space;

    transition:ease all 1s;

    .webWorkInner {
        border-bottom:2px solid black;
        overflow: hidden;
        overflow-y:scroll;
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }
    
    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

.printWork {
    cursor: pointer;
    margin-left: 0vw;
    min-width: 15em;
    width: 40vw;
    height:100%;
    margin-top: 2vw;
    overflow: hidden;
    transition: ease all 1s;
    // padding: 5em;

    h1 {
        position: absolute;
        margin-top: -1.3em;
        font-size: 3.4em;
        border-bottom: thin solid #cdcdcd;
        color: #27b6c3;
        line-height: .7em;
    }
}

.item1 {
    transition:ease all 1.5s;
    transform: scale(0.8);
    cursor: pointer;
    /* margin-right: 6vw; */
    /* margin-top: 1em; */
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: flex-start;
}



// .item1:hover{
//     width: 85%;
// }

// .webWork:hover {
//     box-shadow: 0em 0 4em #33333338;
// }

// .c2 {
//     background-image: url("assets/groovepaper.png");
// }

.webImage {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.printImage {
    background-size: contain;

    height: 100%;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
}



text.skills {
    margin-left: 8vw;
    width: 34vw;
    position: absolute;
    h1 {
        font-size: 1.8vw;
        font-weight: 700;
        color: #191919;
        margin-bottom: .4em;
    }
    p {
        padding-top:.5em;
        line-height: 1.4em;
        font-weight: 300;
        color:#bbbbbb;
        font-size: .9vmax;

    }
}

text.skills1 {
    margin-left: 10vw;
    position: absolute;
    width: 34vw;
    h1 {
        font-size: 1.8vw;
        font-weight: 700;
        color: #191919;
        margin-bottom: .5em;
    }
    p {
        padding-top:.2em;
    }
}

.mgLogoBlock {
    margin-top: -5.5vw;
    padding: 0.2vw 1vw;
}

.tensC {
    color: #1f829c;
}


// misc

// .rSpace {
//     width: 41vw;
// }