.background-holder {
    width: 100%;
    .gridlines {
        background-color:rgb(241, 241, 241);
        overflow-x: hidden;
        display: flex;
        pointer-events: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        transition: ease all 1s;
        z-index: -1;
        .gcol {
            height:100vh;
            position:absolute;
            border-right: solid thin #e2e2e2;
        }
    }
}

.caseSection {
    font-size: .63vw;
}

// .caseSection {
//     font-size: 0.625vw;
// }

.bannerRow {

    padding-bottom: 0em;
    padding-top:0em;
}

.stageImages {
    display:flex;
    width:46.2vw;
    position: absolute;
    bottom: 0;
    height: 20vh;
    z-index: 9;
    transition: ease all .7s;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);

}

.tophero {
    position:relative;
}

.imageBanner {
    position: relative;
    display: flex;
    justify-self: flex-end;
    width: 100%;
    flex-direction: row;
    // transform: skew(-10deg, 0deg);
    flex: 1 0 99%;
    align-self: flex-end;
    overflow:hidden;
    height: 43vh;
    z-index: 0;
    // box-shadow:  0em -2em 4em -2em #0000003b;
}

.imageBanner div {
    display: flex;
    flex:1 0 25%;
    box-shadow: inset 2em -4em 5em -4em #000000ba;
    // background-color: #fbaf40;
    // margin-right: .5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // transition:ease all 1s;
    cursor: pointer;
    margin-top: -2em;
    transition: ease all .5s;
}

.imageBanner div:hover {
    z-index:1;
    // box-shadow:0em .2em 2em .1em rgba(0, 0, 0, 0.253);
    // transform:scale(1.05)
    // padding:0em 3em;
    // flex:1 0 33%;

}

.banner {
    margin-top: -10% !important;
    overflow: hidden;
}


.imageBannerRow {
    width: 100%;
    flex-direction: row;
    align-self: flex-end;
    overflow: hidden;
    height: 15vw;
    z-index: 0;
    box-shadow: inset 0em -4em 4em -4em #000000ba;
}


.imageBannerRow div {
    height: 100%;
    display: flex;
    flex:1 0 50%;
    // background-color: #fbaf40;
    // margin-right: .5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // transition:ease all 1s;
    cursor: pointer;
    margin-top: -2em;
}


.viewWorkSection {
    width: 100vw;
    height: 100vh;
    .section {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden !important;
        .row {
            z-index:1;
            margin-top:5em;
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .item1 {
                pointer-events: none;
                z-index: 9;
                transition: ease all 1.5s;
                transform: scale(0.8);
                cursor: pointer;
                margin-right: .6em;
                margin-top: -5em;
                width: auto;
                display: flex;
                flex-direction: column;
                height: 80%;
                justify-content: flex-start;
                .webWork {
                    margin-left: -1em;
                }
                .webWork:hover {
                    box-shadow:1em .3em 2em .4em rgba(0, 0, 0, 0.15);
                    transform:translateX(8.5vw);
                }
            }

            .infoContainer {
                display: flex;
                flex-direction: column;
                width: 63em;
                margin-left: 1em;
                margin-top: 1em;
                h1 {
                    font-size: 6em;
                    width: 3.2em;
                    line-height: 1;
                    margin-left: -.6em;
                
                }
                .rightSide {
                    align-self: flex-end;
                    margin-right: 2.09em;
                }
                p {
                    padding-right: 0em;
                    width:18em;
                    font-size: 1.3em;
                    line-height: 1.5;
                    font-weight: 300;
                    padding-top:1em;
                }
                .infoBlock {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .infoCol {
                        .brand {
                            display: flex;
                            width: 32em;
                            justify-content: center;
                            img {
                                margin-top: 2em;
                                width: 16em;
                            }
                        }
                        .infoImg1 {
                            width: 32em;
                            img {

                            }
                        }
                        flex-direction: column;
                        display: flex;
                        flex: 0 0 50%;
                        .logoContainer {
                        img {
                            }
                        }
                    }
                }
            }
        }
    }
}

//misc
.parallaxFlex {
    display: flex;
    justify-content: center;
}