.background-holder {
    width: 100%;
    .gridlines {
        background-color:rgb(250, 250, 250);
        overflow-x: hidden;
        display: flex;
        pointer-events: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        transition: ease all 1s;
        z-index: -1;
        .gcol {
            height:100vh;
            position:absolute;
            border-right: solid thin #eeeeee;
        }
    }
}


.caseSection {
    font-size: 0.625vw;
}

.stageImages {
    display:flex;
    width:46.2vw;
    position: absolute;
    bottom: 0;
    height: 20vh;
    z-index: 9;
    transition: ease all .7s;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);

}

.tophero {
    position:relative;
}

.imageBanner {
    position: relative;
    display: flex;
    justify-self: flex-end;
    width: 100%;
    flex-direction: row;
    // transform: skew(-10deg, 0deg);
    flex: 1 0 99%;
    align-self: flex-end;
    overflow:hidden;
    height: 50vh;
    z-index: 0;
    box-shadow: inset 0em -4em 4em -4em #000000ba;
}

.imageBanner div {
    
    height: 60%;
    display: flex;
    flex:1 0 33%;
    // background-color: #fbaf40;
    // margin-right: .5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // transition:ease all 1s;
    cursor: pointer;
    margin-top: -2em;
}

// .imageBanner div:hover {
//     z-index:1;
//     // box-shadow:0em .2em 2em .1em rgba(0, 0, 0, 0.253);
//     // transform:scale(1.05)
//     // padding:0em 3em;
//     flex:1 0 30%;

// }

.banner {
    margin-top: -10% !important;
    overflow: hidden;
}


.imageBannerRow {
    width: 100%;
    flex-direction: row;
    align-self: flex-end;
    overflow: hidden;
    height: 26em;
    z-index: 0;
    box-shadow: inset 0em -4em 4em -4em #000000ba;
}


.imageBannerRow div {
    height: 100%;
    display: flex;
    flex:1 0 50%;
    // background-color: #fbaf40;
    // margin-right: .5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // transition:ease all 1s;
    cursor: pointer;
    margin-top: -2em;
}


.viewWorkSection {
    width: 100vw;
    height: 100vh;
    .section {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .row1 {
            width: 100%;
            display: flex;
            flex: 1 0 60%;
            justify-content: center;

            align-items: center;

            .item1 {
                z-index: 9;
                transition: ease all 1.5s;
                transform: scale(0.8);
                cursor: pointer;
                margin-right: .6em;
                margin-top: 2em;
                width: auto;
                display: flex;
                flex-direction: column;
                height: 80%;
                justify-content: flex-start;
                .webWork {
                    margin-left: -1em;
                }
                .webWork:hover {
                    box-shadow:1em .3em 2em .4em rgba(0, 0, 0, 0.15);
                    transform:translateX(8.5vw);
                }
            }
        }
        .row2 {
            display:flex;
            width: 100%;
            flex: 1 0 30%;
            justify-content: center;
            align-items: center;
            .brand {
                width: 41%;
                justify-content: space-between;
                margin-left:2%;
            }
        }
        .row {
            z-index:1;
            margin-top:10em;
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .infoContainer {
                display: flex;
                flex-direction: column;
                width: 64em;
                margin-left:1em;

                h1 {
                    font-size: 6em;
                    width: 3.2em;
                    line-height: 1;
                    margin-bottom: .3em;
                    margin-left: -.6em;
                
                }
                .rightSide {
                    align-self: flex-end;
                    margin-right: 2.09em;
                }
                p {
                    padding-right: 0em;
                    width:18em;
                    font-size:1.5em;
                    line-height: 1.4;
                    font-weight: 300;
                    padding-top:1em;
                }
                .infoBlock {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .infoCol {
                        .brand {
                            display: flex;
                            width: 32em;
                            justify-content: center;
                            img {
                                margin-top: 2em;
                                width: 16em;
                            }
                        }
                        .infoImg1 {
                            width: 32em;
                            img {
                                width: 47.5em;
                                margin-top: -15em;
                                padding-left: 0em;
                                padding-bottom: 5em;
                                margin-left: -7em;
                            }
                        }
                        flex-direction: column;
                        display: flex;
                        flex: 0 0 50%;
                        .logoContainer {
                        img {
                            width: 25em;
                            padding-top:5em;
                            margin-left: 0em;
                            }
                        }
                    }
                }
            }
        }
    }
}